.esa-post-signature {
  box-sizing: border-box;
  word-break: break-all;
  font-size: 13px;
  margin-top: 15px;
  position: relative;
  padding: 12px 24px 12px 20px;
  background-color: var(--blockquote-bg-color);

  p {
    margin: 0 !important;
  }

  a {
    color: var(--text-color) !important;
  }
}
