@import "../../style/mixins.scss";

.cnblogs-markdown .hljs,
.cnblogs-markdown .hljsln {
  margin-left: 33px;
  display: block;
  overflow-x: auto;
  padding: 0.5em 0.7em 0.5em 0.7em !important;
  background: var(--blockquote-bg-color) !important;
  color: #bababa;

  border: {
    width: 0;
    // style: solid;
    // color: #2c2a2a !important;
    radius: var(--border-radius);
  }

  font: {
    family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
    size: 14px !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
      width: 3px !important;
      height: 4px !important;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
  }
}

.cnblogs-markdown pre code {
  white-space: inherit !important;
}

.cnblogs-markdown .hljs.ln-hide {
  padding: 0.7em 1em 0.7em 1em !important;
}

.ln-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 2.4em;
  height: 100%;
  background: var(--blockquote-ln-bg-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.ln-num {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 2.4em;
  text-align: center;
  display: inline-block;
  @include noselect();

  &::before {
    color: #777;
    content: attr(data-num);
    font: {
      style: normal;
      weight: normal;
      align: center;
    }
  }
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #7171bf !important;
}
