@import "../../style/mixins.less";

.enzia-post-desc {
  .FlexLayout.FlexStart();
  margin-bottom: 20px;

  .item {
    margin-right: 15px;

    span {
      margin-right: 4px;
    }
  }

  .item:last-child {
    margin: 0;
  }
}
