@media only screen and (min-width: 990px) {
  .enzia-post-desc {
    justify-content: flex-start;
  }
}

.enzia-post-desc {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  height: auto;

  .item {
    margin-right: 15px;

    span {
      margin-right: 4px;
    }
  }

  .item:last-child {
    margin: 0;
  }
}

.post {
  .postTitle {
    svg {
      margin-left: 5px;
    }
  }
}
