@import "../../style/mixins.scss";

.enzia-img {
  @include flex($wrap: nowrap, $row: column);

  .enzia-img-desc {
    cursor: initial;
    font-family: inherit;
    color: var(--img-desc-color);
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
    text-align: center;
    font-size: 15px;
  }
}
