<!DOCTYPE html>
<html lang="zh-cn" style="--olcb-folder-code-block-max-height: 80vh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Enziandom - 博客园</title>
    <script>
      var currentBlogId = 666252;
      var currentBlogApp = "Enziandom";
      var isLogined = true;
      var isBlogOwner = true;
      var skinName = "Custom";
      var visitorUserId = "e77e74a1-96fd-4735-9d33-08d8ae5f7194";
      var hasCustomScript = true;
      try {
        if (hasCustomScript && document.referrer && document.referrer.indexOf("baidu.com") >= 0) {
          Object.defineProperty(document, "referrer", { value: "" });
          Object.defineProperty(Document.prototype, "referrer", {
            get: function () {
              return "";
            }
          });
        }
      } catch (error) {}
      window.cb_enable_mathjax = true;
      window.mathEngine = 0;
      window.codeHighlightEngine = 1;
      window.enableCodeLineNumber = false;
      window.codeHighlightTheme = "atom-one-dark";
      window.darkModeCodeHighlightTheme = "vs2015";
      window.isDarkCodeHighlightTheme = true;
      window.isDarkModeCodeHighlightThemeDark = true;
      window.isDisableCodeHighlighter = false;
      window.enableCodeThemeTypeFollowSystem = false;
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="skin-custom has-navbar mathjax2">
    <a name="top"></a>
    <div id="top_nav" class="navbar forpc">
      <nav id="nav_main" class="navbar-main">
        <ul id="nav_left" class="navbar-list navbar-left">
          <li class="navbar-branding">
            <a href="https://www.cnblogs.com/" title="开发者的网上家园" role="banner">
              <img src="//common.cnblogs.com/logo.svg" alt="博客园Logo" />
            </a>
          </li>
          <li>
            <a href="/" onclick="countClicks('skin-navbar-sitehome')">首页</a>
          </li>
          <li>
            <a href="https://news.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-news')">新闻</a>
          </li>
          <li>
            <a href="https://q.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-q')">博问</a>
          </li>
          <li>
            <a id="nav_brandzone" href="https://brands.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-brands')">专区</a>
          </li>
          <li>
            <a href="https://ing.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-ing')">闪存</a>
          </li>
          <li>
            <a href="https://edu.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-edu')">班级</a>
          </li>
        </ul>
        <ul id="nav_right" class="navbar-list navbar-right">
          <li>
            <form id="zzk_search" class="navbar-search" action="https://zzk.cnblogs.com/s" method="get" role="search">
              <input name="w" id="zzk_search_input" placeholder="代码改变世界" type="search" tabindex="3" />
              <button type="submit" id="zzk_search_button">
                <img src="//common.cnblogs.com/images/blog/search.svg" alt="搜索" />
              </button>
            </form>
          </li>
          <li id="navbar_login_status" class="navbar-list">
            <a class="navbar-user-info navbar-blog" href="https://i.cnblogs.com/EditPosts.aspx?opt=1" alt="写随笔" title="写随笔" style="display: inline">
              <img id="new_post_icon" class="navbar-icon" src="//common.cnblogs.com/images/blog/newpost.svg" alt="写随笔" />
            </a>
            <a id="navblog-myblog-icon" class="navbar-user-info navbar-blog" href="https://www.cnblogs.com/Enziandom/" alt="我的博客" title="我的博客" style="display: inline">
              <img id="myblog_icon" class="navbar-icon" src="//common.cnblogs.com/images/blog/myblog.svg" alt="我的博客" />
            </a>
            <a class="navbar-user-info navbar-message navbar-icon-wrapper" href="https://msg.cnblogs.com/" alt="短消息" title="短消息" style="display: inline">
              <img id="msg_icon" class="navbar-icon" src="//common.cnblogs.com/images/blog/message.svg" alt="短消息" />
              <span id="msg_count" style="display: none"></span>
            </a>
            <a id="navbar_lite_mode_indicator" data-current-page="blog" style="display: none" href="javascript:void(0)" alt="简洁模式" title="简洁模式启用，您在访问他人博客时会使用简洁款皮肤展示">
              <img class="navbar-icon" src="//common.cnblogs.com/images/blog/lite-mode-on.svg" alt="简洁模式" />
            </a>
            <div id="user_info" class="navbar-user-info dropdown" style="display: block">
              <a class="dropdown-button" href="https://home.cnblogs.com/u/Enziandom">
                <img id="user_icon" class="navbar-avatar" src="//pic.cnblogs.com/face/2271881/20220825013027.png" alt="用户头像" />
              </a>
              <div class="dropdown-menu">
                <a id="navblog-myblog-text" href="https://www.cnblogs.com/Enziandom/">我的博客</a>
                <a href="https://home.cnblogs.com/">我的园子</a>
                <a href="https://account.cnblogs.com/settings/account">账号设置</a>
                <a href="javascript:void(0)" id="navbar_lite_mode_toggle" title="简洁模式会使用简洁款皮肤显示所有博客">
                  简洁模式 <img id="navbar_lite_mode_on" src="/images/lite-mode-check.svg" class="hide" style="display: none" /><span id="navbar_lite_mode_spinner" class="hide">...</span>
                </a>
                <a href="javascript:void(0)" onclick="account.logout();">退出登录</a>
              </div>
            </div>
            <a class="navbar-anonymous" href="https://account.cnblogs.com/signup" style="display: none">注册</a>
            <a class="navbar-anonymous" href="javascript:void(0);" onclick="account.login()" style="display: none">登录</a>
          </li>
        </ul>
      </nav>
    </div>

    <!--done-->
    <div id="home">
      <div id="header">
        <div id="blogTitle">
          <a id="lnkBlogLogo" href="https://www.cnblogs.com/Enziandom/"><img id="blogLogo" src="/skins/custom/images/logo.gif" alt="返回主页" /></a>

          <!--done-->
          <h1><a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle" href="https://www.cnblogs.com/Enziandom/">Enziandom</a></h1>
          <h2></h2>
        </div>
        <!--end: blogTitle 博客的标题和副标题 -->
        <div id="navigator">
          <ul id="navList">
            <li></li>
            <li>
              <a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/Enziandom/"> 首页</a>
            </li>
            <li>
              <a id="blog_nav_newpost" class="menu" href="https://i.cnblogs.com/EditPosts.aspx?opt=1"> 新随笔</a>
            </li>
            <li></li>
            <li>
              <!--<partial name="./Shared/_XmlLink.cshtml" model="Model" /></li>-->
            </li>
            <li>
              <a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/"> 管理</a>
            </li>
          </ul>

          <div class="blogStats">
            <span id="stats_post_count">随笔 - 308&nbsp; </span>
            <span id="stats_article_count">文章 - 0&nbsp; </span>
            <span id="stats-comment_count">评论 - 7&nbsp; </span>
            <span id="stats-total-view-count">阅读 - <span title="总阅读数: 56111"> 56111</span></span>
          </div>
          <!--end: blogStats -->
        </div>
        <!--end: navigator 博客导航栏 -->
      </div>
      <!--end: header 头部 -->
      <div id="main">
        <div id="mainContent">
          <div class="forFlow">
            <div class="day" role="article" aria-describedby="postlist_description_16659316">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/05.html">2022年9月5日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle pinned-post" href="https://www.cnblogs.com/Enziandom/p/16659316.html">
                  <span>
                    <span class="pinned-post-mark">[置顶]</span>
                    概述软件开发的技术
                  </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16659316">
                  摘要： 前言 对技术方向和所学技术应用场景比较模糊，通过这篇随笔希望理清楚软件开发。软件开发方向多，一个方向也有许多的技术，所以在有限的时间里，尽可能地精通一个方向（Web
                  前端），了解多个方向。 Web 前端开发 Web 前端开发是创建 Web 页面或 App 等前端界面呈现给用户的过程，主要就是 JS、
                  <a href="https://www.cnblogs.com/Enziandom/p/16659316.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-05 23:45 Enziandom
                <span data-post-id="16659316" class="post-view-count">阅读(18)</span>
                <span data-post-id="16659316" class="post-comment-count">评论(0)</span>
                <span data-post-id="16659316" class="post-digg-count">推荐(1)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16659316" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16728357">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/25.html">2022年9月25日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16728357.html">
                  <span> rem 和 px 之间的换算关系 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16728357">
                  摘要： :mag_right:rem rem 是 CSS3 新增的一个相对单位（root em）。在根节点 html 里面给 font-size 属性设置一个确定的 16px。假设，h1 的字体大小是 1rem，那么这个元素的字体大小相当于
                  16px，2rem 就是 32px。rem 是根据 html 里面 <a href="https://www.cnblogs.com/Enziandom/p/16728357.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-25 17:42 Enziandom
                <span data-post-id="16728357" class="post-view-count">阅读(0)</span>
                <span data-post-id="16728357" class="post-comment-count">评论(0)</span>
                <span data-post-id="16728357" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16728357" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16724830">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/24.html">2022年9月24日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16726975.html">
                  <span> 关于 find 指令的 +n、-n、n </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16726975">
                  摘要： :pushpin:描述 :blue_book:find 指令查找文件时可以通过时间来锁定或缩小搜查范围。其中需要利用到文件的三个时间?：Access Time（atime）、Modify Time（mtime） 和 Change
                  Time（ctime）。 通常会指定在 atime 的几天前或最近几天 <a href="https://www.cnblogs.com/Enziandom/p/16726975.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-24 23:24 Enziandom
                <span data-post-id="16726975" class="post-view-count">阅读(2)</span>
                <span data-post-id="16726975" class="post-comment-count">评论(0)</span>
                <span data-post-id="16726975" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16726975" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
              <div class="postSeparator"></div>
              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16726801.html">
                  <span> touch 修改文件的时间 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16726801">
                  摘要： 修改本文件的时间 |参数|描述|例子| |:--:|:--:|:--:| |-a|只修改访问时间（Access Time）|touch -a hello.txt| |-m|只更新修改时间（Modify Time）|touch -m hello.txt|
                  |-d|使用合法的日期格式修改 atime 或 <a href="https://www.cnblogs.com/Enziandom/p/16726801.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-24 22:32 Enziandom
                <span data-post-id="16726801" class="post-view-count">阅读(2)</span>
                <span data-post-id="16726801" class="post-comment-count">评论(0)</span>
                <span data-post-id="16726801" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16726801" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
              <div class="postSeparator"></div>
              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16726180.html">
                  <span> 关于 Linux 三个时间 atime、mtime、ctime </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16726180">
                  摘要： 三个时间 Linux 的文件属性中有：访问时间（Access Time）、修改时间（Modify Time）、改变时间（Change Time）： 访问时间（Access
                  Time）：对文件进行一次读操作，它的访问时间就“有可能”会被更新。例如 cat 指令查看文件内容。 修改时间（Modify T
                  <a href="https://www.cnblogs.com/Enziandom/p/16726180.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-24 18:19 Enziandom
                <span data-post-id="16726180" class="post-view-count">阅读(0)</span>
                <span data-post-id="16726180" class="post-comment-count">评论(0)</span>
                <span data-post-id="16726180" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16726180" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
              <div class="postSeparator"></div>
              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16724830.html">
                  <span> 关于 VirtualBox Ubuntu 增强功能的坑 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16724830">
                  摘要： VirtualBox 是一个免费的虚拟机软件，我在上面安装过 CentOS 和 Ubuntu，VirtualBox 给 CentOS 安装“增强功能”是完全没问题的，复制双向、拖拽双向、屏幕自适应功能都可以正常工作。
                  Ubuntu 只有屏幕自适应偶尔正常，复制双向、拖拽双向都完全不起作用，甚至有时候 <a href="https://www.cnblogs.com/Enziandom/p/16724830.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-24 02:13 Enziandom
                <span data-post-id="16724830" class="post-view-count">阅读(0)</span>
                <span data-post-id="16724830" class="post-comment-count">评论(0)</span>
                <span data-post-id="16724830" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16724830" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16721704">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/23.html">2022年9月23日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16721704.html">
                  <span> TextView 走马灯效果不生效 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16721704">
                  摘要： TextView 控件需要添加以下必要的属性： &lt;TextView android:ellipsize="marquee" android:focusable="true" android:focusableInTouchMode="true" android:marqueeRepeatLimit=
                  <a href="https://www.cnblogs.com/Enziandom/p/16721704.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-23 09:59 Enziandom
                <span data-post-id="16721704" class="post-view-count">阅读(0)</span>
                <span data-post-id="16721704" class="post-comment-count">评论(0)</span>
                <span data-post-id="16721704" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16721704" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16717775">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/22.html">2022年9月22日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16717775.html">
                  <span> TypeScript 函数重载 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16717775">
                  摘要： 函数参数的类型可以使用联合类型?，让我们传递的值可以有多种类型的情况。下面是写的一个简单函数，参数 x 可以有 number、string 两种类型，返回值也是。 function reverse(x: number |
                  string): number | string { if (typeof x <a href="https://www.cnblogs.com/Enziandom/p/16717775.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-22 00:49 Enziandom
                <span data-post-id="16717775" class="post-view-count">阅读(2)</span>
                <span data-post-id="16717775" class="post-comment-count">评论(0)</span>
                <span data-post-id="16717775" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16717775" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16714244">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/21.html">2022年9月21日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16714244.html">
                  <span> 为什么使用 Pinia（Vuex） </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16714244">
                  摘要： Pinia 定义 Pinia（Vuex?） 是一个独立于组件的全局状态，每一个组件都可以读取和写入。 Pinia 有三个重要的概念：state、getters、actions。state 等价于组件中的 data、getters
                  等价于组件中的 computed、methods 等价于组件中的 ac <a href="https://www.cnblogs.com/Enziandom/p/16714244.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-21 01:12 Enziandom
                <span data-post-id="16714244" class="post-view-count">阅读(3)</span>
                <span data-post-id="16714244" class="post-comment-count">评论(0)</span>
                <span data-post-id="16714244" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16714244" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="day" role="article" aria-describedby="postlist_description_16712115">
              <div class="dayTitle">
                <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/20.html">2022年9月20日</a>
              </div>

              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16714140.html">
                  <span> VueRouter 报错：inject() can only be used inside setup() or functional components </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16714140">
                  摘要： 单独创建的一个文件，封装了登录函数的业务逻辑，出现了一个警告，紧接着就是报错：说不能读取到路由的 push 函数。路由必须在组件里面使用，不能在 ts 或 js 文件中使用。
                  还要注意的点是，在使用路由之前，要通过useRouter()函数创建一个变量： const router = useRout
                  <a href="https://www.cnblogs.com/Enziandom/p/16714140.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-20 23:51 Enziandom
                <span data-post-id="16714140" class="post-view-count">阅读(4)</span>
                <span data-post-id="16714140" class="post-comment-count">评论(0)</span>
                <span data-post-id="16714140" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16714140" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
              <div class="postSeparator"></div>
              <div class="postTitle" role="heading" aria-level="2">
                <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/Enziandom/p/16712115.html">
                  <span> JavaScript 工具函数：随机取自然数 </span>
                </a>
              </div>
              <div class="postCon">
                <div class="c_b_p_desc" id="postlist_description_16712115">
                  摘要： function randomUint(max) { return Math.floor(Math.random() * max); } Math.random() * max 返回的是大于 0 的浮点数，不能四舍五入取整。用Math.floor()对上一个结果向下取整：
                  <a href="https://www.cnblogs.com/Enziandom/p/16712115.html" class="c_b_p_desc_readmore">阅读全文</a>
                </div>
              </div>
              <div class="clear"></div>
              <div class="postDesc">
                posted @ 2022-09-20 18:37 Enziandom
                <span data-post-id="16712115" class="post-view-count">阅读(0)</span>
                <span data-post-id="16712115" class="post-comment-count">评论(0)</span>
                <span data-post-id="16712115" class="post-digg-count">推荐(0)</span>
                <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16712115" rel="nofollow"> 编辑 </a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="topicListFooter">
              <div id="nav_next_page">
                <a href="https://www.cnblogs.com/Enziandom/default.html?page=2"> 下一页 </a>
              </div>
            </div>
          </div>
          <!--end: forFlow -->
        </div>
        <!--end: mainContent 主体内容容器-->
        <div id="sideBar">
          <div id="sideBarMain">
            <div id="sidebar_news" class="newsItem">
              <!--done-->
              <h3 class="catListTitle">公告</h3>

              <div id="blog-news">
                <!-- <div style="display: none" id="__document_write_ajax_div-1"></div><script>window['__document_write_ajax_callbacks__']['1']();</script> -->
                <!-- <div style="display: none" id="__document_write_ajax_div-2"></div><script >window['__document_write_ajax_callbacks__']['2']();</script> -->
                <div id="profile_block">
                  昵称：
                  <a href="https://home.cnblogs.com/u/Enziandom/"> Enziandom </a>
                  <br />
                  园龄：
                  <a href="https://home.cnblogs.com/u/Enziandom/" title="入园时间：2021-01-05"> 1年8个月 </a>
                  <br />
                  粉丝：
                  <a class="follower-count" href="https://home.cnblogs.com/u/Enziandom/followers/"> 14 </a>
                  <br />
                  关注：
                  <a class="folowing-count" href="https://home.cnblogs.com/u/Enziandom/followees/"> 9 </a>
                  <div id="p_b_follow" class="follow-tip"></div>
                  <script type="text/javascript">
                    window["__document_write_ajax_callbacks__"]["4"]();
                  </script>
                  <script>
                    window["__document_write_ajax_callbacks__"]["3"]();
                  </script>
                </div>
              </div>
            </div>
            <div id="sidebar_c3"></div>
            <div id="blog-calendar" style="">
              <table id="blogCalendar" class="Cal" cellspacing="0" cellpadding="0" title="Calendar" border="0">
                <tbody>
                  <tr>
                    <td colspan="7">
                      <table class="CalTitle" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="CalNextPrev">
                              <a href="javascript:void(0);" onclick="loadBlogCalendar('2022/08/25'); return false;">&lt;</a>
                            </td>
                            <td align="center">2022年9月</td>
                            <td align="right" class="CalNextPrev">
                              <a href="javascript:void(0);" onclick="loadBlogCalendar('2022/10/25'); return false;">&gt;</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th class="CalDayHeader" align="center" abbr="日" scope="col">日</th>
                    <th class="CalDayHeader" align="center" abbr="一" scope="col">一</th>
                    <th class="CalDayHeader" align="center" abbr="二" scope="col">二</th>
                    <th class="CalDayHeader" align="center" abbr="三" scope="col">三</th>
                    <th class="CalDayHeader" align="center" abbr="四" scope="col">四</th>
                    <th class="CalDayHeader" align="center" abbr="五" scope="col">五</th>
                    <th class="CalDayHeader" align="center" abbr="六" scope="col">六</th>
                  </tr>
                  <tr>
                    <td class="CalOtherMonthDay" align="center">28</td>
                    <td class="CalOtherMonthDay" align="center">29</td>
                    <td class="CalOtherMonthDay" align="center">30</td>
                    <td class="CalOtherMonthDay" align="center">31</td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/01.html"><u>1</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/02.html"><u>2</u></a>
                    </td>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/03.html"><u>3</u></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/04.html"><u>4</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/05.html"><u>5</u></a>
                    </td>
                    <td class="" align="center">6</td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/07.html"><u>7</u></a>
                    </td>
                    <td class="" align="center">8</td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/09.html"><u>9</u></a>
                    </td>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/10.html"><u>10</u></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/11.html"><u>11</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/12.html"><u>12</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/13.html"><u>13</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/14.html"><u>14</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/15.html"><u>15</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/16.html"><u>16</u></a>
                    </td>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/17.html"><u>17</u></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/18.html"><u>18</u></a>
                    </td>
                    <td class="" align="center">19</td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/20.html"><u>20</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/21.html"><u>21</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/22.html"><u>22</u></a>
                    </td>
                    <td class="" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/23.html"><u>23</u></a>
                    </td>
                    <td class="CalWeekendDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/24.html"><u>24</u></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="CalTodayDay" align="center">
                      <a href="https://www.cnblogs.com/Enziandom/archive/2022/09/25.html"><u>25</u></a>
                    </td>
                    <td class="" align="center">26</td>
                    <td class="" align="center">27</td>
                    <td class="" align="center">28</td>
                    <td class="" align="center">29</td>
                    <td class="" align="center">30</td>
                    <td class="CalOtherMonthDay" align="center">1</td>
                  </tr>
                  <tr>
                    <td class="CalOtherMonthDay" align="center">2</td>
                    <td class="CalOtherMonthDay" align="center">3</td>
                    <td class="CalOtherMonthDay" align="center">4</td>
                    <td class="CalOtherMonthDay" align="center">5</td>
                    <td class="CalOtherMonthDay" align="center">6</td>
                    <td class="CalOtherMonthDay" align="center">7</td>
                    <td class="CalOtherMonthDay" align="center">8</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <script>
              loadBlogDefaultCalendar();
            </script>
            <div id="leftcontentcontainer">
              <div id="blog-sidecolumn">
                <!-- 搜索 -->
                <div id="sidebar_search" class="sidebar-block">
                  <div id="sidebar_search" class="mySearch">
                    <h3 class="catListTitle">搜索</h3>
                    <div id="sidebar_search_box">
                      <div id="widget_my_zzk" class="div_my_zzk">
                        <input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk" />&nbsp;<input
                          onclick="zzk_go()"
                          type="button"
                          value="找找看"
                          id="btnZzk"
                          class="btn_my_zzk" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 常用链接 -->

                <!-- 最新随笔 -->

                <!-- 我的标签 -->
                <div id="sidebar_toptags" class="sidebar-block">
                  <div class="catListTag">
                    <h3 class="catListTitle">我的标签</h3>
                    <ul>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/%E8%8B%B1%E8%AF%AD/">英语<span class="tag-count">(40)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Excel/">Excel<span class="tag-count">(28)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/JavaScript/">JavaScript<span class="tag-count">(24)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/%E8%AF%AD%E6%96%87/">语文<span class="tag-count">(20)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Linux/">Linux<span class="tag-count">(18)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/%E9%97%AE%E9%A2%98%E8%A7%A3%E5%86%B3/">问题解决<span class="tag-count">(16)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/HTML/">HTML<span class="tag-count">(15)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Word/">Word<span class="tag-count">(12)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/CSS/">CSS<span class="tag-count">(12)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Vue.js/">Vue.js<span class="tag-count">(12)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Bash%20Shell/">Bash Shell<span class="tag-count">(9)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Flutter/">Flutter<span class="tag-count">(9)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Canvas/">Canvas<span class="tag-count">(8)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/TypeScript/">TypeScript<span class="tag-count">(7)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Node.js/">Node.js<span class="tag-count">(7)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/%E9%B8%BF%E8%92%99%E5%BA%94%E7%94%A8%E5%BC%80%E5%8F%91/">鸿蒙应用开发<span class="tag-count">(6)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/C%2FC%2B%2B/">C/C++<span class="tag-count">(5)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/%E5%B7%A5%E5%85%B7%E5%87%BD%E6%95%B0/">工具函数<span class="tag-count">(5)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Dart/">Dart<span class="tag-count">(5)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/Webpack/">Webpack<span class="tag-count">(5)</span></a>
                      </li>
                      <li>
                        <a href="https://www.cnblogs.com/Enziandom/tag/">更多</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- 积分与排名 -->

                <!-- 随笔分类、随笔档案、文章分类、新闻分类、相册、链接 -->
                <div id="sidebar_categories">
                  <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                    <h3 class="catListTitle">
                      <a class="sidebar-card-title-a" href="https://www.cnblogs.com/Enziandom/categories">随笔分类</a>
                      <span class="sidebar-category-item-count"> (311) </span>
                    </h3>

                    <ul>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2133419.html" class="category-item-link" rel="" target="">Office(41)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2111689.html" class="category-item-link" rel="" target="">Web 应用开发(72)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2067671.html" class="category-item-link" rel="" target="">编程语言(31)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2217999.html" class="category-item-link" rel="" target="">操作系统(20)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2060604.html" class="category-item-link" rel="" target="">计算机基础(36)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2133433.html" class="category-item-link" rel="" target="">计算机网络(10)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2111762.html" class="category-item-link" rel="" target="">其他(19)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2125969.html" class="category-item-link" rel="" target="">数据库(1)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2111686.html" class="category-item-link" rel="" target="">移动应用开发(23)</a>
                      </li>
                      <li data-category-list-item-visible="true" style="display: block">
                        <a href="https://www.cnblogs.com/Enziandom/category/2133424.html" class="category-item-link" rel="" target="">自然语言(58)</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- 最新评论 -->

                <!-- 阅读排行榜 -->

                <!-- 评论排行榜 -->

                <!-- 推荐排行榜 -->
              </div>
              <script>
                loadBlogSideColumn();
              </script>
            </div>
          </div>
          <!--end: sideBarMain -->
        </div>
        <!--end: sideBar 侧边栏容器 -->
        <div class="clear"></div>
      </div>
      <!--end: main -->
      <div class="clear"></div>
      <div id="footer">
        <!--done-->
        Copyright © 2022 Enziandom
        <br /><span id="poweredby">Powered by .NET 6 on Kubernetes</span>
      </div>
      <!--end: footer -->
    </div>
    <!--end: home 自定义的最大容器 -->
  </body>
</html>
