<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="origin" />

  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Esofar - 博客园</title>
  <link
        id="favicon"
        rel="shortcut icon"
        href="//common.cnblogs.com/favicon.ico?v=20200522"
        type="image/x-icon"
  />

  <link
        rel="stylesheet"
        href="https://www.cnblogs.com/css/blog-common.min.css"
  />

  <!-- <link type="text/css" rel="stylesheet" href="https://www.cnblogs.com/esofar/custom.css?v=WiP/H2fd68Xw30RmQSvDNref2SA=" /> -->
  <link
        id="mobile-style"
        media="only screen and (max-width: 767px)"
        type="text/css"
        rel="stylesheet"
        href="https://www.cnblogs.com/skins/custom/bundle-custom-mobile.min.css"
  />

  <link
        type="application/rss+xml"
        rel="alternate"
        href="https://www.cnblogs.com/esofar/rss"
  />
  <link
        type="application/rsd+xml"
        rel="EditURI"
        href="https://www.cnblogs.com/esofar/rsd.xml"
  />
  <link
        type="application/wlwmanifest+xml"
        rel="wlwmanifest"
        href="https://www.cnblogs.com/esofar/wlwmanifest.xml"
  />
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://www.cnblogs.com/js/blog-common.min.js"></script>
  <script>
    var currentBlogId = 235702;
    var currentBlogApp = "esofar";
    var cb_enable_mathjax = false;
    var isLogined = true;
    var skinName = "Custom";
  </script>
  <script>
    window.$silence = {
      avatar: "https://img1.baidu.com/it/u=1927500645,1701823372&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500",
      favicon: "https://files.cnblogs.com/files/esofar/favicon.ico",
      github: "https://github.com/esofar",
      defaultMode: "auto",
      defaultTheme: "c",
      showNavAdmin: true,
      navbars: [ {
        title: "标签", url: "https://www.cnblogs.com/esofar/tag/"
      }, {
        title: "归档", url: "https://www.cnblogs.com/esofar/p/"
      }, {
        title: "其他", chilren: [ {
          title: "博客园主题", target: "_blank", url: "https://github.com/esofar/cnblogs-theme-silence/"
        }, {
          title: "开发者导航", target: "_blank", url: "https://openmarks.cn/"
        } ]
      } ],
      catalog: {
        enable: true, index: true, active: false, levels: [ "h2", "h3", "h4" ]
      },
      signature: {
        enable: true,
        author: null,
        license: [ "署名-非商业性使用-相同方式共享 4.0 国际", "https://creativecommons.org/licenses/by-nc-sa/4.0/" ]
      },
      sponsor: {
        enable: true,
        text: "Buy me a cup of coffee ☕.",
        paypal: null,
        wechat: "https://images.cnblogs.com/cnblogs_com/esofar/972540/o_wechat.png",
        alipay: "https://images.cnblogs.com/cnblogs_com/esofar/972540/o_alipay.png"
      }
    };
  </script>
</head>
<body>
<div class="light-loading">
  <div class="box">
    <h2>Loading</h2>
    <span></span><span></span><span></span><span></span><span></span
  ><span></span><span></span>
  </div>
</div>

<a name="top"></a>
<!--done-->
<div id="home">
  <div id="header">
    <div id="blogTitle">
      <a id="lnkBlogLogo" href="https://www.cnblogs.com/esofar/"
      ><img
            id="blogLogo"
            src="/skins/custom/images/logo.gif"
            alt="返回主页"
      /></a>
      <!--done-->
      <h1>
        <a
              id="Header1_HeaderTitle"
              class="headermaintitle HeaderMainTitle"
              href="https://www.cnblogs.com/esofar/"
        >Esofar's Blog</a
        >
      </h1>
      <h2></h2>
    </div>
    <!--end: blogTitle 博客的标题和副标题 -->
    <div id="navigator">
      <ul id="navList">
        <li>
          <a
                id="blog_nav_sitehome"
                class="menu"
                href="https://www.cnblogs.com/"
          >
            博客园</a
          >
        </li>
        <li>
          <a
                id="blog_nav_myhome"
                class="menu"
                href="https://www.cnblogs.com/esofar/"
          >
            首页</a
          >
        </li>
        <li></li>
        <li>
          <a
                id="blog_nav_contact"
                class="menu"
                href="https://msg.cnblogs.com/send/Esofar"
          >
            联系</a
          >
        </li>
        <li>
          <!--<partial name="./Shared/_XmlLink.cshtml" model="Model" /></li>-->
        </li>
        <li>
          <a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/">
            管理</a
          >
        </li>
      </ul>

      <div class="blogStats">
        <span id="stats_post_count">随笔 - 28&nbsp; </span>
        <span id="stats_article_count">文章 - 0&nbsp; </span>
        <span id="stats-comment_count">评论 - 487</span>
      </div>
      <!--end: blogStats -->
    </div>
    <!--end: navigator 博客导航栏 -->
  </div>
  <!--end: header 头部 -->

  <div id="main">
    <div id="mainContent">
      <div class="forFlow">
        <!--done-->

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/08/23.html"
            >2018年8月23日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/cnblogs-theme-silence.html"
            >
                  <span>
                    <span>[置顶]</span>
                    本博客随笔链接目录
                  </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：本文于2019年08月13日重新编辑。 介绍
              一款专注阅读的博客园主题，主要面向于经常混迹
              &quot;博客园&quot;
              的朋友。其追求大道至简的终极真理，界面追求简洁、运行追求高效、部署追求简单。
              &quot;开源地址&quot; &quot;预览地址&quot; &quot;部署文档&quot;
              &quot;更新日志&quot; 特性 :blue_heart: 简洁优雅、精致漂亮的 UI
              设
              <a
                    href="https://www.cnblogs.com/esofar/p/cnblogs-theme-silence.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-08-23 08:14 Esofar
            <span class="post-view-count">阅读(14363)</span>
            <text></text>
            <span class="post-comment-count">评论(327)</span>
            <text></text>
            <span class="post-digg-count">推荐(184)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9516713"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2019/08/07.html"
            >2019年8月7日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/11310921.html"
            >
              <span> 传统 .NET 项目对接携程 Apollo 配置中心实践 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：官方文档存在的问题 可能由于 Apollo
              配置中心的客户端源码一直处于更新中，导致其相关文档有些跟不上节奏，部分文档写的不规范，很容易给做对接的新手朋友造成误导。
              比如，我在参考如下两个文档使用传统 .NET
              客户端做接入的时候就发现了些问题。 ctripcorp/apollo -
              .Net客户端
              <a
                    href="https://www.cnblogs.com/esofar/p/11310921.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2019-08-07 08:55 Esofar
            <span class="post-view-count">阅读(2267)</span>
            <text></text>
            <span class="post-comment-count">评论(5)</span>
            <text></text>
            <span class="post-digg-count">推荐(12)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=11310921"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2019/07/10.html"
            >2019年7月10日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/11163583.html"
            >
              <span> 使用 Docker 安装 Jenkins 的最佳方式 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：说在前面 本篇内容非常简单，讲述了如何快速在 Docker
              上部署一个 Jenkins 实例，避免多采坑，浪费不必要的练习时间。
              本文实验环境： 操作系统：Centos 7.5 Docker Version：18.09.6
              下载镜像 打开终端，输入 命令搜索 Docker Hub 上可用的 Jenk
              <a
                    href="https://www.cnblogs.com/esofar/p/11163583.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2019-07-10 14:12 Esofar
            <span class="post-view-count">阅读(2197)</span>
            <text></text>
            <span class="post-comment-count">评论(2)</span>
            <text></text>
            <span class="post-digg-count">推荐(3)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=11163583"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2019/05/03.html"
            >2019年5月3日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/10694319.html"
            >
                  <span>
                    使用 Docker 在 Linux 上托管 ASP.NET Core 应用程序
                  </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：说在前面 在阅读本文之前，您必须对 &quot;Docker&quot;
              的中涉及的基本概念以及常见命令有一定了解，本文侧重实战，不会对相关概念详述。
              同时请确保您本地开发机器已完成如下安装： &quot;Docker
              18.06&quot; 或更高版本的 Docker 客户端 &quot;.NET Core SDK
              2.2&quot; 或更高版本 &quot;Vis
              <a
                    href="https://www.cnblogs.com/esofar/p/10694319.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2019-05-03 07:33 Esofar
            <span class="post-view-count">阅读(2039)</span>
            <text></text>
            <span class="post-comment-count">评论(11)</span>
            <text></text>
            <span class="post-digg-count">推荐(18)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=10694319"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2019/03/15.html"
            >2019年3月15日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/10486621.html"
            >
              <span> 分布式缓存 Redis 集群搭建 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：Redis 集群简介 &quot;Redis Cluster&quot; 即 Redis
              集群，是 Redis 官方在 3.0
              版本推出的一套分布式存储方案。完全去中心化，由多个节点组成，所有节点彼此互联。Redis
              客户端可以直接连接任何一节点获取集群中的键值对，不需要中间代理，如果该节点不存在用户所指定的键值，其内
              <a
                    href="https://www.cnblogs.com/esofar/p/10486621.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2019-03-15 14:06 Esofar
            <span class="post-view-count">阅读(5077)</span>
            <text></text>
            <span class="post-comment-count">评论(8)</span>
            <text></text>
            <span class="post-digg-count">推荐(13)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=10486621"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/11/17.html"
            >2018年11月17日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-rpc.html"
            >
              <span> [译]RabbitMQ教程C#版 - 远程过程调用(RPC) </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 在第 &quot;教程[2]&quot;
              中，我们学习了如何使用工作队列在多个工作单元之间分配耗时任
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-rpc.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-11-17 22:59 Esofar
            <span class="post-view-count">阅读(1974)</span>
            <text></text>
            <span class="post-comment-count">评论(2)</span>
            <text></text>
            <span class="post-digg-count">推荐(4)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9944038"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/09/12.html"
            >2018年9月12日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/9631657.html"
            >
              <span> 如何解决 React 官方脚手架不支持 Less 的问题 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：说在前面 &quot;create react app&quot; 是由 React
              官方提供并推荐使用构建新的 React
              单页面应用程序的最佳方式，不过目前版本(1.5.x)其构建的项目中默认是不支持动态样式语言
              &quot;Less&quot; 的。如果我们的项目必须要使用 Less
              呢，这就需要我们手动集成一下。本篇主要针对集成的
              <a
                    href="https://www.cnblogs.com/esofar/p/9631657.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-09-12 08:46 Esofar
            <span class="post-view-count">阅读(6435)</span>
            <text></text>
            <span class="post-comment-count">评论(1)</span>
            <text></text>
            <span class="post-digg-count">推荐(2)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9631657"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/09/07.html"
            >2018年9月7日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-topics.html"
            >
              <span> [译]RabbitMQ教程C#版 - 主题 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 主题 （使用 .NET 客户端） 在
              &quot;教程[4]&quot; 中，我们改进了我们日志系统
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-topics.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-09-07 08:23 Esofar
            <span class="post-view-count">阅读(1555)</span>
            <text></text>
            <span class="post-comment-count">评论(3)</span>
            <text></text>
            <span class="post-digg-count">推荐(5)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9600079"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/08/31.html"
            >2018年8月31日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-routing.html"
            >
              <span> [译]RabbitMQ教程C#版 - 路由 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 路由 （使用.NET客户端） 在
              &quot;教程[3]&quot; 中，我们构建了一个简单的日志系
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-routing.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-08-31 18:48 Esofar
            <span class="post-view-count">阅读(1787)</span>
            <text></text>
            <span class="post-comment-count">评论(0)</span>
            <text></text>
            <span class="post-digg-count">推荐(3)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9567429"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/07/12.html"
            >2018年7月12日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/9291685.html"
            >
              <span> 快速签发 Let&#39;s Encrypt 证书指南 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：说在前面
              本文仅记录给自己的网站添加“小绿锁”的动手操作过程，不涉及 HTTPS
              工作原理等内容的讲解，感兴趣的同学可以参考篇尾的文章自行了解。
              简单了解下我的实验环境： 云服务器：CentOS 7.4 网站宿主：Nginx
              1.12.2 备案域名： &quot;www.esofar.cn&quot; 这里以 作为演示
              <a
                    href="https://www.cnblogs.com/esofar/p/9291685.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-07-12 10:46 Esofar
            <span class="post-view-count">阅读(20495)</span>
            <text></text>
            <span class="post-comment-count">评论(8)</span>
            <text></text>
            <span class="post-digg-count">推荐(10)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9291685"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/06/12.html"
            >2018年6月12日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-publish-subscribe.html"
            >
              <span> [译]RabbitMQ教程C#版 - 发布订阅 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 发布/订阅 （使用 .NET Client） 在
              &quot;教程[2]&quot; 中，我们创建了
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-publish-subscribe.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-06-12 09:26 Esofar
            <span class="post-view-count">阅读(4436)</span>
            <text></text>
            <span class="post-comment-count">评论(11)</span>
            <text></text>
            <span class="post-digg-count">推荐(2)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=9171458"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/04/04.html"
            >2018年4月4日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-work-queues.html"
            >
              <span> [译]RabbitMQ教程C#版 - 工作队列 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 工作队列 （使用 .NET Client） 在
              &quot;教程[1]&quot; 中，我们编写了两
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-work-queues.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-04-04 15:46 Esofar
            <span class="post-view-count">阅读(2649)</span>
            <text></text>
            <span class="post-comment-count">评论(5)</span>
            <text></text>
            <span class="post-digg-count">推荐(10)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=8717352"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/03/22.html"
            >2018年3月22日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/8625619.html"
            >
              <span> [译]ASP.NET Core 依赖注入深入讨论 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：原文链接： &quot;ASP.NET Core Dependency Injection Deep
              Dive Joonas W&#39;s blog&quot; 这篇文章我们来深入探讨 ASP.NET
              Core、MVC Core
              中的依赖注入，我们将示范几乎所有可能的操作把依赖项注入到组件中。
              依赖注入是 ASP.NET C
              <a
                    href="https://www.cnblogs.com/esofar/p/8625619.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-03-22 18:55 Esofar
            <span class="post-view-count">阅读(1899)</span>
            <text></text>
            <span class="post-comment-count">评论(12)</span>
            <text></text>
            <span class="post-digg-count">推荐(12)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=8625619"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/03/16.html"
            >2018年3月16日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/8580034.html"
            >
              <span> [转]Nginx基本功能极速入门 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：原文链接： &quot;Nginx基本功能极速入门 |
              叉叉哥的BLOG&quot;
              本文主要介绍一些Nginx的最基本功能以及简单配置，但不包括Nginx的安装部署以及实现原理。废话不多，直接开始。
              静态HTTP服务器
              首先，Nginx是一个HTTP服务器，可以将服务器上的静态文件（如HTML、图片）通过HTTP协议
              <a
                    href="https://www.cnblogs.com/esofar/p/8580034.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-03-16 11:39 Esofar
            <span class="post-view-count">阅读(709)</span>
            <text></text>
            <span class="post-comment-count">评论(1)</span>
            <text></text>
            <span class="post-digg-count">推荐(5)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=8580034"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/03/14.html"
            >2018年3月14日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/rabbitmq-hello-world.html"
            >
              <span> [译]RabbitMQ教程C#版 - &quot;Hello World&quot; </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：先决条件 本教程假定 RabbitMQ 已经安装，并运行在
              标准端口（5672）。如果你使用不同的主机、端口或证书，则需要调整连接设置。
              从哪里获得帮助 如果您在阅读本教程时遇到困难，可以通过邮件列表
              &quot;联系我们&quot; 。 介绍 RabbitMQ
              是一个消息中间件：它接收并转发消息。您可以把它想象为一个
              <a
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-hello-world.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-03-14 09:35 Esofar
            <span class="post-view-count">阅读(5059)</span>
            <text></text>
            <span class="post-comment-count">评论(8)</span>
            <text></text>
            <span class="post-digg-count">推荐(10)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=8559448"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="day">
          <div class="dayTitle">
            <a href="https://www.cnblogs.com/esofar/archive/2018/01/22.html"
            >2018年1月22日</a
            >
          </div>

          <div class="postTitle">
            <a
                  class="postTitle2 vertical-middle"
                  href="https://www.cnblogs.com/esofar/p/dapper.html"
            >
              <span> [译]Dapper教程 </span>
            </a>
          </div>
          <div class="postCon">
            <div class="c_b_p_desc">
              摘要：原文链接 &quot;Dapper Tutorial&quot;
              ，获取更好浏览体验请跳转到 &quot;GitBook&quot; 。 什么是Dapper
              &quot;Dapper&quot;
              是一个简单的.NET对象映射器，在速度方面具有&quot; King of Micro
              ORM
              &quot;的头衔，几乎与使用原始的ADO.NET数据读取器一样快。ORM是一个对象关系
              <a
                    href="https://www.cnblogs.com/esofar/p/dapper.html"
                    class="c_b_p_desc_readmore"
              >阅读全文</a
              >
            </div>
          </div>
          <div class="clear"></div>
          <div class="postDesc">
            posted @ 2018-01-22 10:04 Esofar
            <span class="post-view-count">阅读(1224)</span>
            <text></text>
            <span class="post-comment-count">评论(2)</span>
            <text></text>
            <span class="post-digg-count">推荐(0)</span>
            <text></text>
            <a
                  href="https://i.cnblogs.com/EditPosts.aspx?postid=8310086"
                  rel="nofollow"
            >
              编辑
            </a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="topicListFooter">
          <div id="nav_next_page">
            <a href="https://www.cnblogs.com/esofar/default.html?page=2">
              下一页
            </a>
          </div>
        </div>
      </div>
      <!--end: forFlow -->
    </div>
    <!--end: mainContent 主体内容容器-->

    <div id="sideBar">
      <div id="sideBarMain">
        <div id="sidebar_news" class="newsItem"><!--done-->
          <h3 class="catListTitle">公告</h3>
          <div id="blog-news">
            <div id="profile_block">
              昵称：
              <a href="https://home.cnblogs.com/u/shiramashiro/">
                shiramashiro
              </a>
              <br>
              园龄：
              <a href="https://home.cnblogs.com/u/shiramashiro/" title="入园时间：2021-01-05">
                1年4个月
              </a>
              <br>
              粉丝：
              <a href="https://home.cnblogs.com/u/shiramashiro/followers/">
                7
              </a>
              <br>
              关注：
              <a href="https://home.cnblogs.com/u/shiramashiro/followees/">
                7
              </a>
              <div id="p_b_follow"></div>
              <script type="text/javascript">window["__document_write_ajax_callbacks__"]["7"]();</script>
              <script>window["__document_write_ajax_callbacks__"]["3"]();</script>
            </div>
          </div>

        </div>
        <div id="sidebar_c3"></div>
        <div id="blog-calendar" style="">

          <table id="blogCalendar" class="Cal" cellspacing="0" cellpadding="0" title="Calendar" border="0">
            <tbody>
            <tr>
              <td colspan="7">
                <table class="CalTitle" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <td class="CalNextPrev">
                      <a href="javascript:void(0);"
                         onclick="loadBlogCalendar('2022/04/10'); return false;">&lt;</a>
                    </td>
                    <td align="center">2022年5月</td>
                    <td align="right" class="CalNextPrev">
                      <a href="javascript:void(0);"
                         onclick="loadBlogCalendar('2022/06/10'); return false;">&gt;</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <th class="CalDayHeader" align="center" abbr="日" scope="col">日</th>
              <th class="CalDayHeader" align="center" abbr="一" scope="col">一</th>
              <th class="CalDayHeader" align="center" abbr="二" scope="col">二</th>
              <th class="CalDayHeader" align="center" abbr="三" scope="col">三</th>
              <th class="CalDayHeader" align="center" abbr="四" scope="col">四</th>
              <th class="CalDayHeader" align="center" abbr="五" scope="col">五</th>
              <th class="CalDayHeader" align="center" abbr="六" scope="col">六</th>
            </tr>
            <tr>
              <td class="CalWeekendDay" align="center">
                <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/01.html"><u>1</u></a>
              </td>
              <td class="" align="center">
                2
              </td>
              <td class="" align="center">
                <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/03.html"><u>3</u></a>
              </td>
              <td class="" align="center">
                <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/04.html"><u>4</u></a>
              </td>
              <td class="" align="center">
                5
              </td>
              <td class="" align="center">
                <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/06.html"><u>6</u></a>
              </td>
              <td class="CalWeekendDay" align="center">
                7
              </td>
            </tr>
            <tr>
              <td class="CalWeekendDay" align="center">
                8
              </td>
              <td class="" align="center">
                9
              </td>
              <td class="CalTodayDay" align="center">
                10
              </td>
              <td class="" align="center">
                11
              </td>
              <td class="" align="center">
                12
              </td>
              <td class="" align="center">
                13
              </td>
              <td class="CalWeekendDay" align="center">
                14
              </td>
            </tr>
            <tr>
              <td class="CalWeekendDay" align="center">
                15
              </td>
              <td class="" align="center">
                16
              </td>
              <td class="" align="center">
                17
              </td>
              <td class="" align="center">
                18
              </td>
              <td class="" align="center">
                19
              </td>
              <td class="" align="center">
                20
              </td>
              <td class="CalWeekendDay" align="center">
                21
              </td>
            </tr>
            <tr>
              <td class="CalWeekendDay" align="center">
                22
              </td>
              <td class="" align="center">
                23
              </td>
              <td class="" align="center">
                24
              </td>
              <td class="" align="center">
                25
              </td>
              <td class="" align="center">
                26
              </td>
              <td class="" align="center">
                27
              </td>
              <td class="CalWeekendDay" align="center">
                28
              </td>
            </tr>
            <tr>
              <td class="CalWeekendDay" align="center">
                29
              </td>
              <td class="" align="center">
                30
              </td>
              <td class="" align="center">
                31
              </td>
              <td class="CalOtherMonthDay" align="center">
                1
              </td>
              <td class="CalOtherMonthDay" align="center">
                2
              </td>
              <td class="CalOtherMonthDay" align="center">
                3
              </td>
              <td class="CalOtherMonthDay" align="center">
                4
              </td>
            </tr>
            <tr>
              <td class="CalOtherMonthDay" align="center">
                5
              </td>
              <td class="CalOtherMonthDay" align="center">
                6
              </td>
              <td class="CalOtherMonthDay" align="center">
                7
              </td>
              <td class="CalOtherMonthDay" align="center">
                8
              </td>
              <td class="CalOtherMonthDay" align="center">
                9
              </td>
              <td class="CalOtherMonthDay" align="center">
                10
              </td>
              <td class="CalOtherMonthDay" align="center">
                11
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <script>loadBlogDefaultCalendar();</script>
        <div id="leftcontentcontainer">
          <div id="blog-sidecolumn"><!-- 搜索 -->
            <div id="sidebar_search" class="sidebar-block">
              <div id="sidebar_search" class="mySearch">
                <h3 class="catListTitle">搜索</h3>
                <div id="sidebar_search_box">
                  <div id="widget_my_zzk" class="div_my_zzk">
                    <input type="text" id="q" onkeydown="return zzk_go_enter(event);"
                           class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button"
                                                             value="找找看" id="btnZzk"
                                                             class="btn_my_zzk">
                  </div>

                </div>
              </div>
            </div>

            <!-- 常用链接 -->


            <!-- 最新随笔 -->


            <!-- 我的标签 -->
            <div id="sidebar_toptags" class="sidebar-block">
              <div class="catListTag">
                <h3 class="catListTitle">我的标签</h3>
                <ul>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%8B%B1%E8%AF%AD/">英语<span
                          class="tag-count">(40)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Excel/">Excel<span
                          class="tag-count">(28)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%AF%AD%E6%96%87/">语文<span
                          class="tag-count">(20)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/JavaScript/">JavaScript<span
                          class="tag-count">(18)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/HTML/">HTML<span
                          class="tag-count">(16)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Word/">Word<span
                          class="tag-count">(12)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Flutter/">Flutter<span
                          class="tag-count">(9)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Canvas/">Canvas<span
                          class="tag-count">(7)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Linux/">Linux<span
                          class="tag-count">(7)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E9%B8%BF%E8%92%99%E5%BA%94%E7%94%A8%E5%BC%80%E5%8F%91/">鸿蒙应用开发<span
                          class="tag-count">(6)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Dart/">Dart<span
                          class="tag-count">(5)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/TCP%2FIP/">TCP/IP<span
                          class="tag-count">(5)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%A7%A3%E5%86%B3%E6%96%B9%E6%A1%88/">解决方案<span
                          class="tag-count">(5)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Vue.js/">Vue.js<span
                          class="tag-count">(5)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/CSS/">CSS<span
                          class="tag-count">(4)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Java/">Java<span
                          class="tag-count">(3)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/HTTP/">HTTP<span
                          class="tag-count">(3)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Git/">Git<span
                          class="tag-count">(3)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E5%B0%8F%E7%A8%8B%E5%BA%8F%E5%BC%80%E5%8F%91/">小程序开发<span
                          class="tag-count">(3)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Node.js/">Node.js<span
                          class="tag-count">(3)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E5%AD%97%E7%AC%A6%E7%BC%96%E7%A0%81/">字符编码<span
                          class="tag-count">(2)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/PowerPoint/">PowerPoint<span
                          class="tag-count">(2)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/%E4%B8%AA%E4%BA%BA%E8%AE%A1%E5%88%92/">个人计划<span
                          class="tag-count">(2)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/MongoDB/">MongoDB<span
                          class="tag-count">(2)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/Windows/">Windows<span
                          class="tag-count">(1)</span></a>
                  </li>
                  <li>
                    <a href="https://www.cnblogs.com/shiramashiro/tag/">更多</a>
                  </li>

                </ul>
              </div>

            </div>

            <!-- 积分与排名 -->


            <!-- 随笔分类、随笔档案、文章分类、新闻分类、相册、链接 -->
            <div id="sidebar_categories">

              <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                <h3 class="catListTitle">

                  随笔分类
                  <span style="font-size:11px;font-weight:normal">(214)</span>


                </h3>

                <ul>

                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2133419.html"
                       class="category-item-link" rel="" target="">Office(42)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2111689.html"
                       class="category-item-link" rel="" target="">Web 应用开发(26)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2067671.html"
                       class="category-item-link" rel="" target="">编程语言(10)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2060604.html"
                       class="category-item-link" rel="" target="">计算机基础(39)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2133433.html"
                       class="category-item-link" rel="" target="">计算机网络(8)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2111762.html"
                       class="category-item-link" rel="" target="">其他(8)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2125969.html"
                       class="category-item-link" rel="" target="">数据库(2)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2111686.html"
                       class="category-item-link" rel="" target="">移动应用开发(19)</a>

                  </li>
                  <li data-category-list-item-visible="true" style="display: block">

                    <a href="https://www.cnblogs.com/shiramashiro/category/2133424.html"
                       class="category-item-link" rel="" target="">自然语言(60)</a>

                  </li>

                </ul>


              </div>
            </div>

            <!-- 最新评论 -->


            <!-- 阅读排行榜 -->


            <!-- 评论排行榜 -->


            <!-- 推荐排行榜 -->
          </div>
          <script>loadBlogSideColumn();</script>
        </div>
      </div>
      <!--end: sideBarMain -->
    </div>
    <!--end: sideBar 侧边栏容器 -->
    <div class="clear"></div>
  </div>
  <!--end: main -->
  <div class="clear"></div>
  <div id="footer">
    <!--done-->
    Copyright &copy; 2020 Esofar
    <br /><span id="poweredby">Powered by .NET Core on Kubernetes</span>
  </div>
  <!--end: footer -->
</div>
<!--end: home 自定义的最大容器 -->
</body>
</html>
