<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="origin" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>shiramashiro - 博客园</title>
  <link
        id="favicon"
        rel="shortcut icon"
        href="//common.cnblogs.com/favicon.ico?v=20200522"
        type="image/x-icon"
  />

  <link
        rel="stylesheet"
        href="https://www.cnblogs.com/css/blog-common.min.css"
  />

  <!-- <link type="text/css" rel="stylesheet" href="https://www.cnblogs.com/esofar/custom.css?v=WiP/H2fd68Xw30RmQSvDNref2SA=" /> -->
  <link
        id="mobile-style"
        media="only screen and (max-width: 767px)"
        type="text/css"
        rel="stylesheet"
        href="https://www.cnblogs.com/skins/custom/bundle-custom-mobile.min.css"
  />

  <link
        type="application/rss+xml"
        rel="alternate"
        href="https://www.cnblogs.com/esofar/rss"
  />
  <link
        type="application/rsd+xml"
        rel="EditURI"
        href="https://www.cnblogs.com/esofar/rsd.xml"
  />
  <link
        type="application/wlwmanifest+xml"
        rel="wlwmanifest"
        href="https://www.cnblogs.com/esofar/wlwmanifest.xml"
  />
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script src="https://www.cnblogs.com/js/blog-common.min.js"></script>
  <script>
    var currentBlogId = 235702;
    var currentBlogApp = "shiramashiro";
    var cb_enable_mathjax = false;
    var isLogined = true;
    var skinName = "Custom";
  </script>
</head>
<body class="skin-custom has-navbar">
  <div id="MathJax_Message" style="display: none;"></div>
  <a name="top"></a>
  <div id="top_nav" class="navbar forpc">
    <nav id="nav_main" class="navbar-main">
      <ul id="nav_left" class="navbar-list navbar-left">
        <li class="navbar-branding">
          <a href="https://www.cnblogs.com/" title="开发者的网上家园" role="banner">
            <img src="/images/logo.svg?v=R9M0WmLAIPVydmdzE2keuvnjl-bPR7_35oHqtiBzGsM" alt="博客园Logo">
          </a>
        </li>
        <li>
          <a href="/" onclick="countClicks('skin-navbar-sitehome')">首页</a>
        </li>
        <li>
          <a href="https://news.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-news')">新闻</a>
        </li>
        <li>
          <a href="https://q.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-q')">博问</a>
        </li>
        <li>
          <a id="nav_brandzone" href="https://brands.cnblogs.com/huawei"
             onclick="countClicks('nav', 'skin-navbar-brands')">专区</a>
        </li>
        <li>
          <a href="https://ing.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-ing')">闪存</a>
        </li>
        <li>
          <a href="https://edu.cnblogs.com/" onclick="countClicks('nav', 'skin-navbar-edu')">班级</a>
        </li>
      </ul>
      <ul id="nav_right" class="navbar-list navbar-right">
        <li>
          <form id="zzk_search" class="navbar-search" action="https://zzk.cnblogs.com/s" method="get" role="search">
            <input name="w" id="zzk_search_input" placeholder="代码改变世界" type="search" tabindex="3">
            <button type="submit" id="zzk_search_button">
              <img src="/images/aggsite/search.svg" alt="搜索">
            </button>
          </form>
        </li>
        <li id="navbar_login_status" class="navbar-list">
          <a class="navbar-user-info navbar-blog" href="https://i.cnblogs.com/EditPosts.aspx?opt=1" alt="写随笔"
             title="写随笔" style="display: inline;">
            <img id="new_post_icon" class="navbar-icon" src="/images/aggsite/newpost.svg" alt="写随笔">
          </a>
          <a id="navblog-myblog-icon" class="navbar-user-info navbar-blog" href="https://www.cnblogs.com/shiramashiro/"
             alt="我的博客" title="我的博客" style="display: inline;">
            <img id="myblog_icon" class="navbar-icon" src="/images/aggsite/myblog.svg" alt="我的博客">
          </a>
          <a class="navbar-user-info navbar-message navbar-icon-wrapper" href="https://msg.cnblogs.com/" alt="短消息"
             title="短消息" style="display: inline;">
            <img id="msg_icon" class="navbar-icon"
                 src="/images/aggsite/message.svg?v=J0WS2P2iPgaIVgXxcAhliw4AFZIpaTWxtdoNAv9eiCA" alt="短消息">
            <span id="msg_count" style="display: none"></span>
          </a>
          <a id="navbar_lite_mode_indicator" data-current-page="blog" style="display: none" href="javascript:void(0)"
             alt="简洁模式" title="简洁模式启用，您在访问他人博客时会使用简洁款皮肤展示">
            <img class="navbar-icon" src="/images/aggsite/lite-mode-on.svg" alt="简洁模式">
          </a>
          <div id="user_info" class="navbar-user-info dropdown" style="display: block;">
            <a class="dropdown-button" href="https://home.cnblogs.com/u/shiramashiro">
              <img id="user_icon" class="navbar-avatar" src="//pic.cnblogs.com/face/2271881/20210617130249.png"
                   alt="用户头像">
            </a>
            <div class="dropdown-menu">
              <a id="navblog-myblog-text" href="https://www.cnblogs.com/shiramashiro/">我的博客</a>
              <a href="https://home.cnblogs.com/">我的园子</a>
              <a href="https://account.cnblogs.com/settings/account">账号设置</a>
              <a href="javascript:void(0)" id="navbar_lite_mode_toggle" title="简洁模式会使用简洁款皮肤显示所有博客">
                简洁模式 <img id="navbar_lite_mode_on" src="/images/lite-mode-check.svg" class="hide"
                          style="display: none;"><span id="navbar_lite_mode_spinner" class="hide">...</span>
              </a>
              <a href="javascript:void(0)" onclick="account.logout();">退出登录</a>
            </div>
          </div>
          <a class="navbar-anonymous" href="https://account.cnblogs.com/signup" style="display: none;">注册</a>
          <a class="navbar-anonymous" href="javascript:void(0);" onclick="account.login()" style="display: none;">登录</a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="page_begin_html">
    <div class="dark-loading" style="display: none;">
      <div class="box">
        <h2>Loading</h2>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>
  <!--done-->
  <div id="home">
    <div id="header">
      <div id="blogTitle">
        <a id="lnkBlogLogo" href="https://www.cnblogs.com/shiramashiro/"><img id="blogLogo"
                                                                              src="/skins/custom/images/logo.gif"
                                                                              alt="返回主页"></a>

        <!--done-->
        <h1><a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle"
               href="https://www.cnblogs.com/shiramashiro/">shiramashiro</a>
        </h1>
        <h2></h2>


      </div><!--end: blogTitle 博客的标题和副标题 -->
      <div id="navigator">

        <ul id="navList">
          <li><a id="blog_nav_sitehome" class="menu" href="https://www.cnblogs.com/">
            博客园</a>
          </li>
          <li>
            <a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/shiramashiro/">
              首页</a>
          </li>
          <li>
            <a class="menu" target="_self" href="https://www.cnblogs.com/shiramashiro/tag/">
              标签
            </a>
          </li>

          <li>

            <a id="blog_nav_newpost" class="menu" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">
              新随笔</a>
          </li>


          <li>
            <a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/">
              管理</a>
          </li>
        </ul>


        <div class="blogStats">
          <span id="stats_post_count">随笔 - 227&nbsp; </span>
          <span id="stats_article_count">文章 - 0&nbsp; </span>
          <span id="stats-comment_count">评论 - 5&nbsp; </span>
          <span id="stats-total-view-count">阅读 -
<span title="总阅读数: 29099">
29099</span></span>

        </div><!--end: blogStats -->
      </div><!--end: navigator 博客导航栏 -->
    </div><!--end: header 头部 -->
    <div id="main">
      <div id="mainContent">
        <div class="forFlow">

          <div class="day" role="article" aria-describedby="postlist_description_16329011">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/31.html">2022年5月31日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle pinned-post"
                 href="https://www.cnblogs.com/shiramashiro/p/16329011.html">
    <span>
            <span class="pinned-post-mark">[置顶]</span>
        博客园主题皮肤-Rebuild From Silence Theme
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16329011">
                摘要： <img src="https://img1.baidu.com/it/u=1927500645,1701823372&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500"
                         alt="博客园主题皮肤-Rebuild From Silence Theme" class="desc_img">
                声明 本人非常喜欢Silence主题，这个皮肤也是改造自它。花了一些时间和精力在原有的基础之上，添加了我喜欢的元素和风格，并添加了一些实用的功能。如果你喜欢我改造的皮肤，欢迎使用！
                目前还在继续改造中。移动端以及白昼模式还没有适配好，后面再慢慢跟进。如果有问题请在Gitee 仓库中提出问题，或者评论 <a
                    href="https://www.cnblogs.com/shiramashiro/p/16329011.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-31 14:43
              shiramashiro
              <span data-post-id="16329011" class="post-view-count">阅读(397)</span>
              <span data-post-id="16329011" class="post-comment-count">评论(0)</span>
              <span data-post-id="16329011" class="post-digg-count">推荐(2)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16329011" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="day" role="article" aria-describedby="postlist_description_16325436">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/30.html">2022年5月30日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16326456.html">
    <span>
        CSS 选择器（二）：子代选择器(&gt;)
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16326456">
                摘要：
                HTML 的结构是树形结构，A 节点有两个节点 B 和 C，B 和 C 的父节点是 A 节点；B 节点有 D 节点，D节点是 B 节点的子节点，而 D 节点的祖先节点就是 A 节点。 B、C、D
                这三个节点都是 A 节点的后代节点。子代选择器针对于某节点的直接子节点（第一代子节点），而不是后代节点， <a
                    href="https://www.cnblogs.com/shiramashiro/p/16326456.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-30 13:28
              shiramashiro
              <span data-post-id="16326456" class="post-view-count">阅读(0)</span>
              <span data-post-id="16326456" class="post-comment-count">评论(0)</span>
              <span data-post-id="16326456" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16326456" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16325436.html">
    <span>
        布局设计：实现侧边栏固定，内容可滚动；头部固定，内容可滚动的布局
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16325436">
                摘要：
                前言 闲着无事，做一些实战练习，今天实现一个如标题所示的布局设计。通过此次布局设计，我希望掌握position属性值 fixed、absolute、relative。width和height属性值
                inherit、百分比的区别和作用。布局的效果： 布局可以适应窗口高和宽的变化，这种就需要监听窗口，以 <a
                    href="https://www.cnblogs.com/shiramashiro/p/16325436.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-30 02:02
              shiramashiro
              <span data-post-id="16325436" class="post-view-count">阅读(2)</span>
              <span data-post-id="16325436" class="post-comment-count">评论(0)</span>
              <span data-post-id="16325436" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16325436" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="day" role="article" aria-describedby="postlist_description_16322414">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/29.html">2022年5月29日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16325097.html">
    <span>
        CSS 子节点继承父节点(祖先节点)的样式
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16325097">
                摘要：
                CSS 有些属性可以让子节点从父节点或祖先节点继承，文本、字体、列表属性等样式都可以被子节点继承。子节点没有自身的样式，子节点将继承父节点或祖先节点的样式。 &lt;ul class="container"&gt;
                &lt;li class="child-1"&gt;child 1&lt;/li&gt; &lt;li class="chil <a
                    href="https://www.cnblogs.com/shiramashiro/p/16325097.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-29 22:21
              shiramashiro
              <span data-post-id="16325097" class="post-view-count">阅读(2)</span>
              <span data-post-id="16325097" class="post-comment-count">评论(0)</span>
              <span data-post-id="16325097" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16325097" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16323561.html">
    <span>
        JQuery 查找父元素的函数 parent 和 parents 的区别
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16323561">
                摘要：
                函数 描述 parent([expr]) 查找子节点childNode的父节点，不包括祖先节点 parents([expr]) 查找子节点childNode的父节点，包括祖先节点 Talk is cheap.
                Show me the code. ——Linus Torvalds &lt;div class <a
                    href="https://www.cnblogs.com/shiramashiro/p/16323561.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-29 12:01
              shiramashiro
              <span data-post-id="16323561" class="post-view-count">阅读(4)</span>
              <span data-post-id="16323561" class="post-comment-count">评论(0)</span>
              <span data-post-id="16323561" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16323561" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16322414.html">
    <span>
        JQuery 判断父节点下是否有子节点
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16322414">
                摘要：
                查找父节点下是否有子节点有两个情况：（1）查找的是父元素的所有后代节点；（2）仅查找父元素的第一代子节点。 &lt;div id="app"&gt; &lt;div&gt; &lt;span&gt;&lt;/span&gt;
                &lt;/div&gt; &lt;div&gt; &lt;span&gt;&lt;a&gt;&lt;/a&gt;&lt;/span&gt; &lt;/div&gt; &lt;/div&gt; 查找所有后代节点
                has( <a href="https://www.cnblogs.com/shiramashiro/p/16322414.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-29 01:05
              shiramashiro
              <span data-post-id="16322414" class="post-view-count">阅读(4)</span>
              <span data-post-id="16322414" class="post-comment-count">评论(0)</span>
              <span data-post-id="16322414" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16322414" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="day" role="article" aria-describedby="postlist_description_16321751">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/28.html">2022年5月28日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16322169.html">
    <span>
        搭建 Webpack 项目步骤
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16322169">
                摘要：
                前言 Node.js 就像是 Java 的虚拟机 + JDK，可以让 js 脱离浏览器沙盒，且提供模块机制、I/O 操作、数据库操作、网络操作等。Node.js 又提供了大量的库，NPM（类似于 Maven）
                托管了超过 1,000,000 个开源包，Webpack 就是其中之一。 Webpack <a
                    href="https://www.cnblogs.com/shiramashiro/p/16322169.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-28 22:04
              shiramashiro
              <span data-post-id="16322169" class="post-view-count">阅读(1)</span>
              <span data-post-id="16322169" class="post-comment-count">评论(0)</span>
              <span data-post-id="16322169" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16322169" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16321751.html">
    <span>
        使用 Less 混合（Mixins）时报语法错误
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16321751">
                摘要：
                今天在尝试使用 less 的混合语法时，浏览器直接报了一个语法错误。下图是报错信息： 仔细地阅读了官方文档，和对比自己写的，并没有任何错误。 .FlexLayout { .Start() { display:
                flex; align-items: center; align-content: cen <a
                    href="https://www.cnblogs.com/shiramashiro/p/16321751.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-28 19:51
              shiramashiro
              <span data-post-id="16321751" class="post-view-count">阅读(2)</span>
              <span data-post-id="16321751" class="post-comment-count">评论(0)</span>
              <span data-post-id="16321751" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16321751" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="day" role="article" aria-describedby="postlist_description_16299786">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/23.html">2022年5月23日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16301511.html">
    <span>
        Web 前端实战（三）：雷达图
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16301511">
                摘要：
                前言 在《Canvas 线性图形（五）：多边形》实现了绘制多边形的函数。本篇文章将记录如何绘制雷达图。最终实现的效果是这样的： 绘制雷达图 雷达图里外层 如动图中所示，雷达图从里到外一共有 6
                层，所以，我们需要改造绘制多边形的函数： 点击查看绘制基础雷达图代码 function calcPolyg <a
                    href="https://www.cnblogs.com/shiramashiro/p/16301511.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-23 20:47
              shiramashiro
              <span data-post-id="16301511" class="post-view-count">阅读(12)</span>
              <span data-post-id="16301511" class="post-comment-count">评论(0)</span>
              <span data-post-id="16301511" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16301511" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16299786.html">
    <span>
        Web 前端实战（二）：JQuery 实现树形控件
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16299786">
                摘要：
                前言 这是一篇个人练习 Web 前端各种常见的控件、组件的实战系列文章。本篇文章将介绍个人通过 JQuery + 无序列表 + CSS 动画完成一个简易的树形控件。 最终实现的效果是：
                这样结构比较复杂的嵌套再嵌套的 HTML 结构必须先写一个静态的观察，不可能一步到位，事情是逐渐发展的。遵循自顶向 <a
                    href="https://www.cnblogs.com/shiramashiro/p/16299786.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-23 14:27
              shiramashiro
              <span data-post-id="16299786" class="post-view-count">阅读(13)</span>
              <span data-post-id="16299786" class="post-comment-count">评论(0)</span>
              <span data-post-id="16299786" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16299786" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="day" role="article" aria-describedby="postlist_description_16297822">
            <div class="dayTitle">
              <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/22.html">2022年5月22日</a>
            </div>

            <div class="postTitle" role="heading" aria-level="2">
              <a class="postTitle2 vertical-middle" href="https://www.cnblogs.com/shiramashiro/p/16297822.html">
    <span>
        CSS 笔记目录
    </span>

              </a>
            </div>
            <div class="postCon">

              <div class="c_b_p_desc" id="postlist_description_16297822">
                摘要：
                布局 CSS 布局（一）：Flex 布局 选择器 CSS 选择器（一）：属性选择器 CSS 选择器（二）：子代选择器(&gt;) 实战 CSS 实战（一）：伪类+属性选择器实现主题切换 <a
                    href="https://www.cnblogs.com/shiramashiro/p/16297822.html" class="c_b_p_desc_readmore">阅读全文</a>
              </div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ 2022-05-22 14:21
              shiramashiro
              <span data-post-id="16297822" class="post-view-count">阅读(5)</span>
              <span data-post-id="16297822" class="post-comment-count">评论(0)</span>
              <span data-post-id="16297822" class="post-digg-count">推荐(0)</span>
              <a href="https://i.cnblogs.com/EditPosts.aspx?postid=16297822" rel="nofollow">
                编辑
              </a>
            </div>
            <div class="clear"></div>
          </div>


          <div class="topicListFooter">
            <div id="nav_next_page">

              <a href="https://www.cnblogs.com/shiramashiro/default.html?page=2">
                下一页
              </a>

            </div>
          </div>


          <script>
            updatePostStats(
                  $(".post-view-count").map(function () { return this.dataset.postId; }).get(),
                  function (id, count) { $(".post-view-count[data-post-id=" + id + "]").text("阅读(" + count + ")"); },
                  function (id, count) { $(".post-comment-count[data-post-id=" + id + "]").text("评论(" + count + ")"); },
                  function (id, count) { $(".post-digg-count[data-post-id=" + id + "]").text("推荐(" + count + ")"); });
          </script>
        </div><!--end: forFlow -->
      </div><!--end: mainContent 主体内容容器-->
      <div id="sideBar">
        <div id="sideBarMain">
          <div class="profile-avatar-wrap">
            <img class="esa-profile-avatar"
                 src="https://img1.baidu.com/it/u=1927500645,1701823372&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500"
                 alt="profile-avatar">
            <div class="bloger-status">
              <div class="bloger-status-icon" style="background-color: rgba(240,230,140, 0.95)"></div>
              <div class="bloger-status-desc">升级中</div>
            </div>
          </div>
          <div id="sidebar_news" class="newsItem"><!--done-->
            <h3 class="catListTitle">公告</h3>

            <div id="blog-news">
              <script type="text/javascript">window["__document_write_ajax_callbacks__"]["4"]();</script>
              <script>window["__document_write_ajax_callbacks__"]["1"]();</script>
              <script type="text/javascript">window["__document_write_ajax_callbacks__"]["5"]();</script>
              <script type="text/javascript">window["__document_write_ajax_callbacks__"]["6"]();</script>
              <script>window["__document_write_ajax_callbacks__"]["2"]();</script>
              <div id="profile_block">
                昵称：
                <a href="https://home.cnblogs.com/u/shiramashiro/">
                  shiramashiro
                </a>
                <br>
                园龄：
                <a href="https://home.cnblogs.com/u/shiramashiro/" title="入园时间：2021-01-05">
                  1年4个月
                </a>
                <br>
                粉丝：
                <a href="https://home.cnblogs.com/u/shiramashiro/followers/">
                  7
                </a>
                <br>
                关注：
                <a href="https://home.cnblogs.com/u/shiramashiro/followees/">
                  7
                </a>
                <div id="p_b_follow" class="self-blog"></div>
                <script type="text/javascript">window["__document_write_ajax_callbacks__"]["7"]();</script>
                <script>window["__document_write_ajax_callbacks__"]["3"]();</script>
              </div>
            </div>

          </div>
          <div id="sidebar_c3"></div>
          <div id="blog-calendar" style="">

            <table id="blogCalendar" class="Cal" cellspacing="0" cellpadding="0" title="Calendar" border="0">
              <tbody>
                <tr>
                  <td colspan="7">
                    <table class="CalTitle" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="CalNextPrev">
                            <a href="javascript:void(0);"
                               onclick="loadBlogCalendar('2022/04/30'); return false;">&lt;</a>
                          </td>
                          <td align="center">2022年5月</td>
                          <td align="right" class="CalNextPrev">
                            <a href="javascript:void(0);"
                               onclick="loadBlogCalendar('2022/06/30'); return false;">&gt;</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th class="CalDayHeader" align="center" abbr="日" scope="col">日</th>
                  <th class="CalDayHeader" align="center" abbr="一" scope="col">一</th>
                  <th class="CalDayHeader" align="center" abbr="二" scope="col">二</th>
                  <th class="CalDayHeader" align="center" abbr="三" scope="col">三</th>
                  <th class="CalDayHeader" align="center" abbr="四" scope="col">四</th>
                  <th class="CalDayHeader" align="center" abbr="五" scope="col">五</th>
                  <th class="CalDayHeader" align="center" abbr="六" scope="col">六</th>
                </tr>
                <tr>
                  <td class="CalWeekendDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/01.html"><u>1</u></a>
                  </td>
                  <td class="" align="center">
                    2
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/03.html"><u>3</u></a>
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/04.html"><u>4</u></a>
                  </td>
                  <td class="" align="center">
                    5
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/06.html"><u>6</u></a>
                  </td>
                  <td class="CalWeekendDay" align="center">
                    7
                  </td>
                </tr>
                <tr>
                  <td class="CalWeekendDay" align="center">
                    8
                  </td>
                  <td class="" align="center">
                    9
                  </td>
                  <td class="" align="center">
                    10
                  </td>
                  <td class="" align="center">
                    11
                  </td>
                  <td class="" align="center">
                    12
                  </td>
                  <td class="" align="center">
                    13
                  </td>
                  <td class="CalWeekendDay" align="center">
                    14
                  </td>
                </tr>
                <tr>
                  <td class="CalWeekendDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/15.html"><u>15</u></a>
                  </td>
                  <td class="" align="center">
                    16
                  </td>
                  <td class="" align="center">
                    17
                  </td>
                  <td class="" align="center">
                    18
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/19.html"><u>19</u></a>
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/20.html"><u>20</u></a>
                  </td>
                  <td class="CalWeekendDay" align="center">
                    21
                  </td>
                </tr>
                <tr>
                  <td class="CalWeekendDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/22.html"><u>22</u></a>
                  </td>
                  <td class="" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/23.html"><u>23</u></a>
                  </td>
                  <td class="" align="center">
                    24
                  </td>
                  <td class="" align="center">
                    25
                  </td>
                  <td class="" align="center">
                    26
                  </td>
                  <td class="" align="center">
                    27
                  </td>
                  <td class="CalWeekendDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/28.html"><u>28</u></a>
                  </td>
                </tr>
                <tr>
                  <td class="CalWeekendDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/29.html"><u>29</u></a>
                  </td>
                  <td class="CalTodayDay" align="center">
                    <a href="https://www.cnblogs.com/shiramashiro/archive/2022/05/30.html"><u>30</u></a>
                  </td>
                  <td class="" align="center">
                    31
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    1
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    2
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    3
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    4
                  </td>
                </tr>
                <tr>
                  <td class="CalOtherMonthDay" align="center">
                    5
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    6
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    7
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    8
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    9
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    10
                  </td>
                  <td class="CalOtherMonthDay" align="center">
                    11
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <script>loadBlogDefaultCalendar();</script>
          <div id="leftcontentcontainer">
            <div id="blog-sidecolumn"><!-- 搜索 -->
              <div id="sidebar_search" class="sidebar-block">
                <div id="sidebar_search" class="mySearch">
                  <h3 class="catListTitle">搜索</h3>
                  <div id="sidebar_search_box">
                    <div id="widget_my_zzk" class="div_my_zzk">
                      <input type="text" id="q" onkeydown="return zzk_go_enter(event);"
                             class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk"
                                                               class="btn_my_zzk">
                    </div>

                  </div>
                </div>
              </div>
              <!-- 常用链接 -->


              <!-- 最新随笔 -->


              <!-- 我的标签 -->
              <div id="sidebar_toptags" class="sidebar-block">
                <div class="catListTag">
                  <h3 class="catListTitle">我的标签</h3>
                  <ul>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%8B%B1%E8%AF%AD/">英语<span class="tag-count">(40)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Excel/">Excel<span class="tag-count">(28)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/JavaScript/">JavaScript<span class="tag-count">(27)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/HTML/">HTML<span
                            class="tag-count">(25)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%AF%AD%E6%96%87/">语文<span class="tag-count">(20)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Word/">Word<span
                            class="tag-count">(12)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/CSS/">CSS<span class="tag-count">(11)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Canvas/">Canvas<span
                            class="tag-count">(10)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Flutter/">Flutter<span
                            class="tag-count">(9)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/JQuery/">JQuery<span
                            class="tag-count">(7)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Linux/">Linux<span class="tag-count">(7)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E9%B8%BF%E8%92%99%E5%BA%94%E7%94%A8%E5%BC%80%E5%8F%91/">鸿蒙应用开发<span
                            class="tag-count">(6)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Dart/">Dart<span
                            class="tag-count">(5)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E8%A7%A3%E5%86%B3%E6%96%B9%E6%A1%88/">解决方案<span
                            class="tag-count">(5)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Vue.js/">Vue.js<span
                            class="tag-count">(5)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/TCP%2FIP/">TCP/IP<span
                            class="tag-count">(4)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Node.js/">Node.js<span
                            class="tag-count">(4)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Java/">Java<span
                            class="tag-count">(3)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Git/">Git<span class="tag-count">(3)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E5%B0%8F%E7%A8%8B%E5%BA%8F%E5%BC%80%E5%8F%91/">小程序开发<span
                            class="tag-count">(3)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Webpack/">Webpack<span
                            class="tag-count">(3)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/HTTP/">HTTP<span
                            class="tag-count">(2)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E5%AD%97%E7%AC%A6%E7%BC%96%E7%A0%81/">字符编码<span
                            class="tag-count">(2)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/PowerPoint/">PowerPoint<span class="tag-count">(2)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E4%B8%AA%E4%BA%BA%E8%AE%A1%E5%88%92/">个人计划<span
                            class="tag-count">(2)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/MongoDB/">MongoDB<span
                            class="tag-count">(2)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Less/">Less<span
                            class="tag-count">(1)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Windows/">Windows<span
                            class="tag-count">(1)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/Android%20Studio/">Android Studio<span
                            class="tag-count">(1)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/%E5%AE%89%E5%8D%93%E5%BA%94%E7%94%A8%E5%BC%80%E5%8F%91/">安卓应用开发<span
                            class="tag-count">(1)</span></a>
                    </li>
                    <li>
                      <a href="https://www.cnblogs.com/shiramashiro/tag/">更多</a>
                    </li>

                  </ul>
                </div>

              </div>

              <!-- 积分与排名 -->


              <!-- 随笔分类、随笔档案、文章分类、新闻分类、相册、链接 -->
              <div id="sidebar_categories">

                <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                  <h3 class="catListTitle">

                    <a class="sidebar-card-title-a" href="https://www.cnblogs.com/shiramashiro/categories">随笔分类</a>
                    <span class="sidebar-category-item-count">
    (229)
</span>


                  </h3>

                  <ul>

                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2133419.html" class="category-item-link"
                         rel="" target="">Office(39)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2111689.html" class="category-item-link"
                         rel="" target="">Web 应用开发(36)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2067671.html" class="category-item-link"
                         rel="" target="">编程语言(11)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2060604.html" class="category-item-link"
                         rel="" target="">计算机基础(37)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2133433.html" class="category-item-link"
                         rel="" target="">计算机网络(8)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2111762.html" class="category-item-link"
                         rel="" target="">其他(19)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2125969.html" class="category-item-link"
                         rel="" target="">数据库(2)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2111686.html" class="category-item-link"
                         rel="" target="">移动应用开发(19)</a>

                    </li>
                    <li data-category-list-item-visible="true" style="display: block">

                      <a href="https://www.cnblogs.com/shiramashiro/category/2133424.html" class="category-item-link"
                         rel="" target="">自然语言(58)</a>

                    </li>

                  </ul>


                </div>
              </div>

              <!-- 最新评论 -->


              <!-- 阅读排行榜 -->


              <!-- 评论排行榜 -->


              <!-- 推荐排行榜 -->
            </div>
            <script>loadBlogSideColumn();</script>
          </div>
        </div><!--end: sideBarMain -->
      </div><!--end: sideBar 侧边栏容器 -->
      <div class="clear"></div>
    </div><!--end: main -->
    <div class="clear"></div>
    <div id="footer">
    </div><!--end: footer -->
  </div><!--end: home 自定义的最大容器 -->


  <input type="hidden" id="antiforgery_token"
         value="CfDJ8AuMt_3FvyxIgNOR82PHE4mqGEU-_MLn5znY_BqaNotbY6lZkpllNRPfOyb3afy3wvI-SdwbcIbtaUPfaI2FBaDM9IsM9yHnDyhwxmuLPIS7ucHpoXJPwmC1T3_sRjNXar1kein7O5KfdMeTCUluWHkoixM7UUdMMkTsNC_FHzWPQtuTtwxZQl-Iad9GyljpbQ">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-476124-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {dataLayer.push(arguments);}

    gtag("js", new Date());
    var kv = getGACustom();
    if ( kv ) {
      gtag("set", kv);
    }
    gtag("config", "UA-476124-1");
  </script>
  <script defer="" src="https://hm.baidu.com/hm.js?866c9be12d4a814454792b1fd0fed295"></script>

  <script type="text/javascript">
    window.$silence = {
      avatar: "https://images.cnblogs.com/cnblogs_com/blogs/666252/galleries/1934022/o_210616040311shinamashiro.jpg",
      github: "https://github.com/shiramashiro",
      favicon: "https://images.cnblogs.com/cnblogs_com/blogs/666252/galleries/1934022/o_210616040608shiramashiro-round.png",
      catalog: {
        index: true,
        enable: true,
        levels: [ "h1", "h2", "h3" ]
      },
      defaultMode: "dark",
      navbars: [ {
        title: "标签",
        url: "https://www.cnblogs.com/shiramashiro/tag/"
      } ],
      hljsln: true,
      radarMap: {
        alpha: 0.88,
        sides: 10,
        layer: 5,
        step: 14,
        lineWidth: 1,
        lineColor: "white",
        textColor: "white",
        textSize: 12,
        data: [
          {
            title: "html",
            star: 5
          },
          {
            title: "css",
            star: 4
          },
          {
            title: "js",
            star: 4
          },
          {
            title: "ts",
            star: 1
          },
          {
            title: "vue",
            star: 3
          },
          {
            title: "react",
            star: 1
          },
          {
            title: "angular",
            star: 0
          },
          {
            title: "nodejs",
            star: 1
          },
          {
            title: "小程序",
            star: 4
          },
          {
            title: "flutter",
            star: 3
          }
        ]
      },
      statusKey: "growing"
    };
  </script>
  <iframe id="redeviation-bs-sidebar" class="notranslate" aria-hidden="true" data-theme="default"
          data-pos="left"></iframe>
  <a href="https://github.com/shiramashiro" class="github-corner" title="GitHub" target="_blank">
    <svg width="60" height="60" viewBox="0 0 250 250" style="color:#FFF" aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
            fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
      <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
            fill="currentColor" class="octo-body"></path>
    </svg>
  </a>

  <script type="text/javascript">getFollowStatus("e77e74a1-96fd-4735-9d33-08d8ae5f7194");</script>
  <div id="redeviation-bs-indicator" data-theme="default" data-pos="left" style="height: 35%; top: 30%;"
       class="redeviation-bs-visible">
    <div><span></span></div>
  </div>
</body>
</html>
