@import "../mixins.scss";

/* 随笔分类的文章运用卡片样式 */
.entrylist .entrylistItem {
  @include card();
}

/* 随笔分类的文章标题样式 */
.entrylist .entrylistPosttitle {
  @include title();
}

/* 随笔分类的文章摘要样式 */
.entrylist .entrylistPostSummary {
  @include summary();
}

/* 随笔分类的文章简述样式 */
.entrylist .entrylistItemPostDesc {
  @include desc();
}

/* 随笔分类的随笔说明样式 */
.entrylistDescription {
  margin: 10px auto;
  border-radius: 4px;
  background-color: var(--card-bg-color);
  border-left: 4px solid var(--theme-color);
  padding: 10px 10px 10px 6px;
}
