@import "../mixins.scss";

/* > 990px */
@media only screen and (min-width: 990px) {
  #main {
    #mainContent {
      width: 45vw;
      left: 27.5vw;
      padding: 0 10px;
    }
  }
}

.topicListFooter {
  margin: 0 !important;
}

@mixin atag() {
  height: 28px;
  margin: 0 3px;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 3px 6px;
  border: {
    width: 1px;
    style: solid;
    color: var(--border-color);
    radius: var(--border-radius);
  }

  &:hover {
    color: var(--theme-color);
    border: {
      width: 1px;
      style: solid;
      color: var(--theme-color);
    }
  }
}

@mixin pager-mixin($isopen: true, $isflex: true) {
  @if $isopen == true {
    @include flex(flex-end);
    color: var(--text-color);
    text-align: initial !important;
    line-height: initial !important;
  } @else {
    @content;
  }

  a {
    @if $isflex == true {
      @include flex();
    }

    @include atag();
  }

  a:last-child {
    margin: 0 0 0 3px !important;
  }

  a:first-child {
    margin: 0 3px 0 0 !important;
  }
}

#nav_next_page {
  @include pager-mixin(false, false) {
    margin: 10px 0;
  }
}

.topicListFooter > .pager {
  @include pager-mixin();
}

#mainContent .pager {
  @include pager-mixin();
}

#mainContent .pager > .pager > .Pager {
  @include pager-mixin();
}

#mainContent .pager {
  text-align: initial !important;
  margin: 0 !important;
}
