@import "../mixins.scss";

/* > 990px */
@media only screen and (min-width: 990px) {
  #main {
    margin: 0 auto;

    #mainContent {
      margin: 0 10px;
    }
  }
}

/* 底部分页的 BOX */
.topicListFooter {
  margin: 0 !important;
}

@mixin atag() {
  height: 28px;
  margin: 0 3px;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 3px 6px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  @content;
}

@mixin atag-hover() {
  &:last-child {
    margin: 0 0 0 3px !important;
  }

  &:first-child {
    margin: 0 3px 0 0 !important;
  }
}

@mixin atag-pat() {
  a:last-child {
    margin: 0 0 0 3px !important;
  }

  a:first-child {
    margin: 0 3px 0 0 !important;
  }
}

@mixin pager-mixin($isopen: true) {
  @if $isopen == true {
    @include flex(flex-end);
    color: var(--text-color);
    text-align: initial !important;
    line-height: initial !important;
  } @else {
    @content;
  }

  a {
    @include flex();
    @include atag() {
      @include atag-hover();
    }
  }

  @include atag-pat();
}

#nav_next_page {
  @include pager-mixin(false) {
    margin: 10px 0;
  }
}

.topicListFooter > .pager {
  @include pager-mixin();
}

.entrylistTitle + .pager,
.entrylistTitle + div + div + div.pager {
  @include pager-mixin();
}

.PostListTitle + .pager > .pager > .Pager,
#myposts .pager .pager .Pager {
  @include pager-mixin();
}

#myposts .pager .pager .Pager {
  margin: 10px 0 !important;
}

#myposts .pager {
  text-align: initial !important;
  margin: 0 !important;
}
