@import "../mixins.scss";

#taglist_main {
  margin-top: 0;

  #taglist {
    @include card();
  }

  table {
    width: 100%;

    tr td {
      padding: 5px 20px 5px 0;

      &:last-child {
        padding-right: 0;
      }

      .small {
        display: none;
      }
    }

    tr td a {
      display: block;
      padding: 5px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      border: 1px dotted #696969;
      border-radius: 4px;
      color: var(--text-color);

      &:hover {
        border: 1px solid var(--theme-color);
      }
    }
  }
}

#myposts {
  margin-left: 0;

  .PostList {
    @include card();
  }

  .postTitl2 {
    margin-bottom: 15px !important;
    @include title();
  }

  .postDesc2 {
    font-size: 14px !important;
    @include desc();
  }
}
