@import "../mixins.scss";
@import "homepage.pmd.scss";
@import "sidebar.pmd.scss";

// < 900px
@media only screen and (max-width: 990px) {
  #bannerbar {
    display: none;
  }

  #home {
    min-width: auto !important;
  }

  #main {
    .forFlow {
      padding: 10px 15px 10px 15px;

      #post_detail {
        padding: 0 !important;
      }

      .postBody {
        padding: 0 !important;
      }

      .postDesc {
        display: none;
      }

      #comment_form {
        padding: 0 !important;
      }

      .commentform {
        margin-left: 0 !important;
      }

      .day .postDesc,
      .entrylist .entrylistItemPostDesc {
        display: none;
      }
    }
  }

  #myposts .postDesc2 {
    text-align: right !important;

    span {
      display: none;
    }
  }

  .esa-toolbar .skin-popup {
    bottom: calc(50% - 67px) !important;
    border-radius: 15px !important;
  }

  .topicListFooter {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
  }

  #commentform_title {
    margin-top: 10px !important;
  }
}
