@import "../../style/mixins.scss";

#esa-catalog-wrapper {
  box-sizing: border-box;
  width: 100%;

  #esa-catalog-inner {
    .catalog-title {
      font-size: 17px;
      margin: 0 0 10px 0;

      i {
        margin-right: 10px;
      }
    }

    #esa-catalog {
      li:first-child {
        margin: 0 0 8px 0;
      }

      li:last-child {
        margin: 8px 0 0 0;
      }

      li {
        margin: 8px 0;
        cursor: pointer;
        @include ellipsis();

        .level1 {
          margin-left: 0;
        }

        .level2 {
          margin-left: 10px;
        }

        .level3 {
          margin-left: 25px;
        }
      }

      .current-li {
        background-color: var(--blockquote-bg-color);

        & > a {
          span {
            padding-left: 7px;
            border: {
              left-color: var(--theme-color);
              left-style: solid;
              left-width: 4px;
              radius: 2px;
            }
          }
        }
      }
    }
  }
}
