#esa-catalog-wrapper {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  border: 1px solid var(--border-color);
  display: none;
  width: 210px;
  position: fixed;
  top: 15.5%;
  right: 11.5%;
  font-weight: inherit;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);

  #esa-catalog-inner {
    #esa-catalog {
      li:first-child {
        margin: 0 0 8px 0;
      }

      li:last-child {
        margin: 8px 0 0 0;
      }

      li {
        margin: 8px 0;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .level1 {
          margin-left: 0;
        }

        .level2 {
          margin-left: 10px;
        }

        .level3 {
          margin-left: 25px;
        }
      }
    }
  }
}
