.catListTitle {
  display: block;
  text-align: left;
  margin: 20px 0;
  font-size: 20px;
  font-weight: inherit;
  border-left: 4px solid var(--theme-color);
  border-radius: 4px;
  padding-left: 7px;
}

.day,
.entrylistItem {
  border-bottom: 1px dotted var(--border-color);
  text-align: justify;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
}