@import "mixins.less";
/* 博客园所有元素公用样式 */

.catListTitle {
  display: block;
  text-align: left;
  margin: 20px 0;
  font-size: 20px;
  font-weight: inherit;
  border-left: 4px solid var(--theme-color);
  border-radius: 4px;
  padding-left: 7px;
}