@import "./index.pmd.scss";

/* > 990 */
@media only screen and (min-width: 990px) {
  #right-sidebar {
    display: block;
  }
}

#right-sidebar {
  width: var(--sidebar-width);
  height: calc(var(--window-height) - 70px);
  background-color: var(--card-bg-color);
  box-sizing: border-box;
  top: 70px;
  right: var(--header-left);
  position: fixed;
  overflow-y: auto;
  z-index: 20;
  padding: 15px;
  border-radius: var(--border-radius);

  & > .sidebar-wrap {
    &::-webkit-scrollbar {
      display: none;
    }

    & > .sidebar-content {
      & > :first-child {
        & .catListTitle {
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }
}
