@import "./mixins.scss";
@import "./theme.scss";
@import "./normal/index.scss";
@import "./adaptation/index.pmd.scss";
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#home {
  width: 100%;
  height: 100%;
  transition: all 378ms;
}

* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--text-color);
  background: var(--blog-bg-color);
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 5px;
}

fieldset,
img {
  border: 0;
}

ul {
  word-break: break-all;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;

  &:hover {
    color: var(--theme-color);
  }
}

::selection {
  color: #fff;
  background: var(--theme-color);
}

.catListTitle {
  display: block;
  margin: 20px 0;
  font-size: 20px;
  font-weight: inherit;
  text-align: left;
  border-left: 4px solid var(--theme-color);
  border-radius: 4px;
  padding-left: 7px;
}

#main {
  width: var(--content-width);
  transition: all 0.3s ease;
  @include flex();
}

.forFlow {
  margin-top: 70px !important;

  .day {
    @include card();
  }

  .day .postTitle {
    @include title();
  }

  .day .postCon {
    @include summary();
  }

  .day .postDesc {
    @include desc();
  }

  .day > .postSeparator {
    border-bottom: 1px solid var(--border-color);
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

#footer {
  display: none !important;
}

.navbar,
.blogStats,
.dayTitle,
#lnkBlogLogo,
#ad_t2,
#ad_c1,
#ad_c2,
.c_ad_block,
#under_post_news,
#under_post_kb,
#author_profile,
#green_channel,
#comment_nav,
.under-comment-nav,
#comment_pager_top,
#ad_text_under_commentbox,
#cnblogs_ch,
#opt_under_post,
#cnblogs_c1,
#under_post_card1,
#cnblogs_c2,
#under_post_card2,
#HistoryToday {
  display: none;
}

.entrylistTitle,
.PostListTitle,
.thumbTitle,
.myposts_title,
#taglist_title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
}

.clear {
  clear: both;
}

.toc-container-header {
  font-size: 20px;
  font-weight: bold;
}

.cnblogs_code {
  background-color: #333232;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 3px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;

  div {
    background-color: transparent;
    color: #656c73;
  }

  img {
    margin: 0 !important;
  }

  pre {
    color: #abb2bf;
    font-family: inherit !important;
    font-size: 15px !important;

    span {
      font-family: inherit !important;
      color: inherit !important;
    }
  }

  textarea {
    font-family: inherit !important;
    padding: 5px;
    border: 1px solid #3e4c42;
    color: #c5d4ef;
    background-color: #282c34;

    &:focus {
      outline: 0;
    }
  }

  .code_img_closed,
  .code_img_opened {
    display: none !important;
  }

  .cnblogs_code_toolbar {
    width: 20px;

    span {
      padding-right: 0;
    }

    a:link img {
      background-color: transparent !important;
    }
  }

  .cnblogs_code_collapse {
    color: #656c73;
    border: 1px solid #656c73;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px 2px 5px;
  }
}

.louzhu {
  color: var(--theme-color);
  font-weight: 500;
}
