#right-sidebar {
  width: var(--sidebar-width);
  height: var(--window-height);
  background-color: var(--card-bg-color);
  box-sizing: border-box;

  & > .right-sidebar-wrap {
    height: inherit;
    width: inherit;
    top: 70px;
    position: fixed;
    overflow-y: auto;
    z-index: 999;
    padding: 15px;
    box-sizing: border-box;
    background-color: inherit;
    border-radius: var(--border-radius);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}