@import "../mixins.less";

#taglist_main {
  margin-top: 0;

  #taglist {
    .PostStyle.Card();
  }

  table {
    width: 100%;

    tr td {
      padding: 5px 20px 5px 0;

      &:last-child {
        padding-right: 0;
      }

      .small {
        display: none;
      }
    }

    tr td a {
      display: block;
      padding: 5px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      border: 1px dotted #696969;
      border-radius: 4px;
      color: var(--text-color);

      &:hover {
        border: 1px solid var(--theme-color);
      }
    }
  }
}

#myposts { /* 按标签分类的文章页 */
  margin-left: 0;

  .PostList {
    .PostStyle.Card(); /* 文章运用卡片样式 */
  }

  .postTitl2 {
    margin-bottom: 15px !important;
    .PostStyle.Title(); /* 随笔分类的文章标题样式 */
  }

  .postDesc2 {
    font-size: 14px !important;
    .PostStyle.Desc(); /* 随笔分类的文章简述样式 */
  }
}