@import "less/mixins.less";
@import "less/common.less";
@import "index.mobile.less";
@import "less/fragment/homepage.less";
@import "less/fragment/left-sidebar.less";
@import "less/fragment/entrylist.less";
@import "less/fragment/taglist.less";
@import "less/fragment/topics.less";
@import "less/fragment/pager.less";
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root[mode="light"] {
  --blog-bg-color: #FFF;
  --text-color: #596172;
  --border-color: #EEF2F8;
  --catalog-bg-color: #FFF;
  --blockquote-bg-color: #F8F8F8;
  --code-bg-color: #F1F1F1;
  --table-tg-bg-color: white;
}

:root[mode="dark"] {
  --card-bg-color: #252525; /* 卡片背景颜色 */
  --blog-bg-color: #191919; /* 背景颜色 */
  --text-color: #A7A7A7; /* 文字颜色 */
  --border-color: #494545; /* 边框颜色 */
  --catalog-bg-color: #252525; /*  */
  --blockquote-bg-color: #2B2B2B; /* 引用背景颜色 */
  --code-bg-color: #3A3A3A;
  --table-tg-bg-color: #2B2B2B; /* 表头背景顏色 */
  --border-radius: 4px; /* 圆角半径 */
}

:root[theme="a"] {
  --theme-color: #2D8CF0;
}

:root[theme="b"] {
  --theme-color: #FA7298;
}

:root[theme="c"] {
  --theme-color: #42B983;
}

:root[theme="d"] {
  --theme-color: #607D8B;
}

:root[theme="e"] {
  --theme-color: #5E72E4;
}

:root[theme="f"] {
  --theme-color: #FF9700;
}

:root[theme="g"] {
  --theme-color: #FF5722;
}

:root[theme="h"] {
  --theme-color: #009688;
}

:root[theme="i"] {
  --theme-color: #673BB7;
}

:root[theme="j"] {
  --theme-color: #906F61;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--text-color);
  background: var(--blog-bg-color);
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 5px;
}

fieldset,
img {
  border: 0;
}

ul {
  word-break: break-all;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;

  &:hover {
    color: var(--theme-color);
  }
}

::selection {/* ::selection 是用于用户选中文档时的样式 */
  color: #FFF;
  background: var(--theme-color);
}

.navbar,
.blogStats,
.dayTitle,
#lnkBlogLogo,
#ad_t2,
#ad_c1,
#ad_c2,
.c_ad_block,
#under_post_news,
#under_post_kb,
#author_profile,
#green_channel,
#comment_nav,
.under-comment-nav,
#comment_pager_top,
#ad_text_under_commentbox,
#cnblogs_ch,
#opt_under_post,
#cnblogs_c1,
#under_post_card1,
#cnblogs_c2,
#under_post_card2,
#HistoryToday {
  display: none;
}

.entrylistTitle,
.PostListTitle,
.thumbTitle,
.myposts_title,
#taglist_title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
}

.clear {
  clear: both;
}

#home {
  width: 100%;
  height: 100%;
  transition: all 378ms;
}

.toc-container-header { /* 目前还不知道这个样式有什么用 */
  font-size: 20px;
  font-weight: bold;
}

.cnblogs_code {
  background-color: #333232;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 3px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;

  div {
    background-color: transparent;
    color: #656C73;
  }

  img {
    margin: 0 !important;
  }

  pre {
    color: #ABB2BF;
    font-family: inherit !important;
    font-size: 15px !important;

    span {
      font-family: inherit !important;
      color: inherit !important;
    }
  }

  textarea {
    font-family: inherit !important;
    padding: 5px;
    border: 1px solid #3E4C42;
    color: #C5D4EF;
    background-color: #282C34;

    &:focus {
      outline: 0;
    }
  }

  .code_img_closed,
  .code_img_opened {
    display: none !important;
  }

  .cnblogs_code_toolbar {
    width: 20px;

    span {
      padding-right: 0;
    }

    a:link img {
      background-color: transparent !important;
    }
  }

  .cnblogs_code_collapse {
    color: #656C73;
    border: 1px solid #656C73 + #333;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px 2px 5px;
  }
}

.louzhu {
  color: var(--theme-color);
  font-weight: 500;
}

.feedbackListSubtitle {
  .sendMsg2This {
    background: transparent;
    padding-left: 0;
    font-size: 15px;

    &::before {
      content: "✉️";
    }
  }
}

.feedbackManage {
  float: right;
}

.feedbackItem .feedbackCon {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);

  .comment_vote {
    margin-top: 12px;
  }
}

.blog_comment_body {
  width: auto;
  border-radius: 4px;
  padding: 12px;
  margin-left: 50px;
  background-color: var(--blockquote-bg-color);
  min-height: 19px;

  img {
    border-radius: 3px;
  }
}

.topicListFooter {
  text-align: right;
  margin-top: 20px;
  margin-right: 0;
}

.feedback_area_title {
  font-size: 20px;
  border-bottom: 1px solid var(--border-color);
  margin: 20px 0;
  padding-bottom: 5px;
}